[2020-06-25 02:27] IngridT1 opened #2 "Guidelines for Parameter Tables"
We should have standardized parameter tables with 4 columns: Parameter, Type, Default, Description

Problem: Portal makes tables ugly.

Are tables going to look nicer in Pantheon 2? Ask the CCSOPS team (Dawn Aly).

Reference doc tables (these tables are unnecessarily annoying and confusing with their current format) [Corrected links]:
https://access.redhat.com/documentation/en-us/red_hat_openstack

[2020-07-24 09:57] oraNod opened #13 "Kubernetes Objects and Fields for Operator Documentation"
Terminology for describing objects and fields in Operator documentation should be consistent with Kubernetes wording.

Kubernetes objects: https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/
Custom resources: https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/

This issue suggests the following documentation conventions:

- Refer

[2020-07-24 11:12] pwright commented on #13
just to note that existing doc often refers to 'parameter's as per https://docs.openshift.com/container-platform/4.5/networking/cluster-network-operator.html#nw-operator-cr_cluster-network-operator

[2020-07-24 11:30] oraNod commented on #13
terminology should follow k8s doc conventions imo. that includes OpenShift docs.

[2020-07-31 21:45] gregraka opened #14 "Date formats"
Hi,

I'm adding this issue for the group's awareness. (Ingrid suggested that I add it for tracking purposes.)

The IBM Style Guide states that the correct date format in text is: **dd Month yyyy** (for example, 1 August 2020).

In earlier versions of RHOSP, the way we identify a particular maintenance release is by its release date. (Fortunately, RHOSP has adopted a new convention of incrementing

[2020-08-20 13:48] jlprevatt opened #16 "Request change to Graphical interfaces topic"
For file: supplementary-style-guide/supplementary_style_guide/style_guidelines/graphical-interfaces.adoc

In this topic, the "User interface elements" section contains the following sentence:
"Bold all graphical user interface elements, including, but not limited to, menu names, menu items, button names, and _dialog window names_."

I am requesting a change for the phrase "dialog window" to someth

[2020-08-20 13:51] bergerhoffer commented on #16
@jlprevatt Thanks for raising this - I will open a PR to fix.

[2020-08-20 13:55] bergerhoffer commented on #16
@jlprevatt Here is the PR if you can please review: #17.

[2020-08-25 13:51] bergerhoffer commented on #16
Closing as PR #17 has been merged to address this issue.

[2020-08-25 13:51] #16 closed

[2020-08-26 12:32] bergerhoffer commented on #13
Bold is only used for GUI items, so that should not be used for the custom resource type names. If we do decide that an object name needs markup (currently the OpenShift guidelines is to PascalCase without markup), then I think that monospace would be more appropriate.

Also note that the OpenShift docs team is currently reviewing how to refer to certain terminology (mostly capitalization) and is

[2020-08-26 12:49] bergerhoffer commented on #14
HI @gregraka, thanks for opening this! Your modification makes sense to me, to deviate from the IBM style guidance in the interest of clarity.

Can you share what exactly you're requesting? Is your request to add an entry saying that it's okay to deviate from the IBM style guide's date format, if following it could cause confusion (as in your example)? Thanks!

[2020-08-26 13:02] gregraka commented on #14
Hi @bergerhoffer !  Yes. Our team needed to deviate from the IBM Style Guide regarding date formats. (My feeling is that when there's a legitimate reason, deviating from a style recommendation is OK, and doesn't necessarily require "permission" from the CCS Supplemental Style Guide group.) Ingrid asked me to enter an issue, because she feels that it's important to have some "history" about this us

[2020-08-26 13:11] bergerhoffer commented on #14
@gregraka Yes I agree that it's fine to deviate from guidance when there is a legitimate reason.

@redhat-documentation/ccs-style-council Do you think we should add an entry about being able to deviate from the IBM style guide for date formats, as per the above example? Or should that just fall under general understanding of being allowed to deviate if necessary?

[2020-08-26 17:44] bobjohnsrh opened #18 "Incorporate EAP terminology and usage"
An update to the EAP terminology and usage guidelines was completed immediately before the supplemental style guide project began.  Terminology and usage specific to EAP should be incorporated into the supplemental style guide.

The draft source for the update is here:  https://gitlab.cee.redhat.com/bobjohns/draft-content

One additional section should be added regarding EAP subsystems.

Content t

[2020-08-26 18:09] bergerhoffer commented on #18
@bobjohnsrh thanks for opening this!

For the A-Z terms, you should be able to open a PR and update the existing JBoss EAP-specific terms section. Other than a review of the PR, it shouldn't need too much discussion, since it is product-specific. You can add/update as necessary: https://github.com/redhat-documentation/supplementary-style-guide/blob/master/supplementary_style_guide/glossary_terms_c

[2020-08-27 14:07] stoobie commented on #14
@bergerhoffer, @redhat-documentation/ccs-style-council My take:

Our guidance should be _Follow the IBM Style Guide unless our supplementary style guide says otherwise. And if something isn't working, then address that to the Style Council._

As a writer, I look to the Style Guide for guidance.
As an organization, I look to the style guide to create a more professional and unified face for Red Hat

[2020-08-28 09:43] JoanneOFlynn2018 commented on #14
I agree with @stoobie

If I want to deviate from the style guide, I should have to consult the style council. Just like @gregraka did. I'm not sure but I think there are some writers that don't consult the style council, or even their team and colleagues.

The deviation should be recorded so that other writers who encounter a similar issue follow the same deviation, that way we can at east apply s

[2020-08-28 12:58] jhoyt-rh commented on #14
I agree with Steve and Joanne.

I thought we had adopted this position, but occasionally it seems that some
writers are either ignoring it, or perhaps style guide and council are not
socialized enough for everyone to be aware of the style decisions or
understand them and why they are extremely important.  But if we don't all
understand and implement the <carefully vetted> style decisions that have

[2020-09-01 10:20] oraNod commented on #13
Thanks for all the detail @bergerhoffer

One note about bold for **Infinispan** CR. It is  in fact a GUI item (see the screengrab below). Infinispan is the name of the upstream project and I thought putting it in bold might help avoid a bit of confusion for users as well. At our next GA we'll have a **Cache** CR too, which is also a separate distinction to actual caches. TBH it's gotten a little w

[2020-09-01 10:22] oraNod commented on #13
And I only just realized from the screenshot I pasted that it uses "fields". Nice.

[2020-09-02 17:18] bergerhoffer commented on #14
Thanks everyone! I think that adding exceptions to the guide is a good idea. Here's what I suggest we do:

1. **Add an entry for date formatting** - Add a new entry (probably to the [General formatting](https://github.com/redhat-documentation/supplementary-style-guide/blob/master/supplementary_style_guide/style_guidelines/general-formatting.adoc) section that we follow the IBM style guide for usin

[2020-09-03 15:35] gregraka commented on #14
Hi Andrea (@bergerhoffer),

I'm in the process of adding a PR for item #1 in your earlier comment.

Thanks,
--Greg

[2020-09-03 15:37] bergerhoffer commented on #14
Thanks @gregraka, appreciate it!

Our guidelines/template for adding a new entry is here: https://github.com/redhat-documentation/supplementary-style-guide/blob/master/GUIDELINES.adoc#contributing-style-guideline-entry

And you can see an example here if it helps: https://github.com/redhat-documentation/supplementary-style-guide/blob/master/supplementary_style_guide/style_guidelines/graphical-inte

[2020-09-04 12:55] gregraka commented on #14
Hi @bergerhoffer ,

I'm getting a 403 Error (below) when attempting to push my topic branch to the supp SG repo. I am able to push to my personal GitHub repo, so I don't know what the issue is here.

I reached out to @cbudz and we weren't able to solve it. Any ideas?

Thanks,
--Greg

`[supplementary-style-guide](Issue14-DateFormatException)$ git status
On branch Issue14-DateFormatException
Changes

[2020-09-04 13:28] bergerhoffer commented on #14
@gregraka You won't have permission to push directly to the style guide repository. You'll need to fork the repository first (looking here [1] I don't see one for you), and push your changes there. Then you open a pull request from your forked repository to the upstream repo.

We have instructions on the process here [2]. Let me know if you have any questions or issues with trying this. Thanks!

[

[2020-09-04 14:50] gregraka commented on #14
Hi @bergerhoffer ,

Thanks for pointing me to the "Contributing guide." I don't know why I didn't see it. I suppose I should learn to read! :^)

So, my pull request has been made. Please let me know how I can improve it!

Best,
--Greg

[2020-09-22 18:35] bergerhoffer commented on #14
Closing this issue as #21 was merged that addresses this. Thanks again @gregraka!

[2020-09-22 18:35] #14 closed

[2020-09-22 18:37] bergerhoffer commented on #13
Just updating to say that the OpenShift docs team has a proposal together to change the terminology reference guidance in our docs. Once it has been acked by all necessary stakeholders I will share that here.

[2020-09-23 13:46] bergerhoffer opened #25 "Replaceable value recommendation for XML"
The general replaceable value format that we are recommending is this: _<ip_address>_.

However, that is not XML-friendly due to the angle brackets (`< >`). Investigate an alternative format to recommend when using replaceable values in XML.

* Should the recommendation be just to remove the angle brackets? _ip_address_
* Or is there another format that is commonly used that we should recommend?

[2020-09-25 22:59] inoxx03 commented on #25
In Cloud-Native runtimes we use a form of notation that is based on Maven configuration files (such as pom.xml). You can see one instance of this usage in the first code example in section 4.3.1 of the Red Hat support for Spring Boot runtime Guide.

The syntax is `${property-name.type}`.

The `type` is usually `version`, although there might be other property types.

Since this notation is compati

[2020-10-12 17:28] leswilliams44 commented on #25
@bergerhoffer  and @cbudz , Any suggestions on how to move this forward? Are we waiting for a group decision during a regularly scheduled meeting?

[2020-10-12 17:30] leswilliams44 commented on #18
@bobjohnsrh, Is there anything we can do to help you move forward with this issue?

[2020-10-12 17:32] leswilliams44 commented on #2
@IngridT1 , Are we waiting to hear from Dawn Aly?

[2020-10-13 10:25] bobjohnsrh commented on #18
@leswilliams44 I've been asked to prioritize work I am doing for the EAP doc team. I can work on this once I get that work finished.

[2020-10-13 11:24] leswilliams44 commented on #18
@bobjohnsrh , Thanks, just checking as part of my admin duties

[2020-10-19 20:07] bergerhoffer commented on #25
@inoxx03 Thanks for adding this, this is helpful! My question to you is whether this value is something that we expect a user to manually replace before using this XML example, or is it something that we expect them to have the `spring-boot.version` field set somewhere else, and they leave that variable in there? It looks like it might be the latter.

Also, as you mention, this might not necessari

[2020-10-20 10:24] IngridT1 commented on #2
@leswilliams44 I was just trying to capture Alex's comment, because it's important and is related to style. Do you know how to invite Dawn Aly and Alex McLeod to join this GitHub repo? Neither one of them can comment now.

[2020-10-20 11:23] leswilliams44 commented on #2
@IngridT1, I'll see what I can do to add them.

[2020-10-20 11:37] leswilliams44 commented on #2
@IngridT1, If Dawn and Alex have a GitHub user ID, we should be able to add them.

https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/inviting-users-to-join-your-organization

[2020-10-20 12:53] bergerhoffer commented on #2
@IngridT1 are you saying that they've tried to comment on this issue and haven't been able to? Do they have a GitHub account (as @leswilliams44 mentioned) and were they logged in?

I thought that for any GitHub repo that was open, anyone with a GitHub login should be able to comment. If they are logged into GitHub, but still can't comment, then that's an issue. We don't necessarily want to add the

[2020-10-20 12:57] bergerhoffer commented on #2
I just confirmed with someone else that they were able to see the Comment button on this issue, being logged into GitHub but not a part of our org/repo. My guess is that they either don't have a login or weren't logged in.

[2020-10-20 14:09] stoobie opened #29 "Add guideline for links to Red Hat Knowledgebase articles"
Problem: Links to Red Hat Knowledgebase articles don't always follow normal link guidelines.

For example:

- `For more information, see the Knowledgebase article at https://access.redhat.com/solutions/163853.` [1]
- `If your Apache web server configuration enables SSL security, verify that you enable only the TLSv1 protocol, and disable SSLv2 and SSLv3. This is due to the POODLE SSL vulnerability

[2020-10-20 14:46] bergerhoffer commented on #29
+1 for adding guidance on this.

I don't think that we want to just show the URL as the link like any of these options show.

I would rather see the link text be the title of the Knowledgebase article/solution, or linked as running text:

#### Title:

`For a non-cloud environment, the disk and file system can be resized. See the following Red Hat Knowledgebase solution for more information: link:h

[2020-10-20 14:49] bergerhoffer commented on #29
I've also seen links where the link text says "this Red Hat Solution". We should probably state to avoid that, in addition to avoiding just using the URL.

[2020-10-20 17:11] abigaeljamie opened #31 "Add "Pod" to glossary"
Can we please add "Pod" in the "[General conventions](https://redhat-documentation.github.io/supplementary-style-guide/#_p)" section? I see it written as "Pod" (not "pod") in other areas of the guide, but it would be great to have it documented so that folks can quickly find it and see its capitalization.

[2020-10-20 17:18] bergerhoffer commented on #31
Hi @abigaeljamie, we're actually in the process of updating our terminology style guidance on OpenShift, and this guidance will become "pod" lowercase. See https://github.com/openshift/openshift-docs/pull/26111 for details.

This should be getting merged in and applied in the next week or two, and I have it on my list to come through and update OpenShift's glossary items here afterward.

We do hav

[2020-10-20 18:17] abigaeljamie commented on #31
Thank you, @bergerhoffer ! I didn't initially see "pod" listed in the OpenShift section. So since it's already documented, then no I don't see a case for adding it to the general conventions area.

And good to know about "Pod" changing to "pod" 👍 I'll keep that in mind!

Thank you for your help!

[2020-10-20 18:18] #31 closed

[2020-10-20 18:52] IngridT1 commented on #2
@bergerhoffer I was trying to tag them in the issue, but I couldn't. They probably have GitHub IDs. In which case, I could just send them a link and ask for comments.

[2020-10-20 19:08] bergerhoffer commented on #2
@IngridT1 Ah okay, yeah they won't pop up by default as options if they're not part of the org. Since GitHub users are global, there are probably more than user out there with their name, so we usually confirm IDs with people before trying to add them.

[2020-10-20 19:31] roldanbob opened #32 "Add guideline about use of podman vs docker commands for managing containers"
The OpenShift docs have recently moved away from including `docker` commands, replacing them with `podman` commands. Users find it confusing to have two sets of commands without clear guidance about the advantage of using one set over the other. In light of recent efforts to de-emphasize _docker_ terminology, unless there is a specific reason to use `docker` commands, we should use `podman` comman

[2020-10-20 19:59] bergerhoffer commented on #32
@redhat-documentation/ccs-style-council We currently have a product-specific glossary section. Should we consider whether we'll want to add a product-specific style guidance section for things like this?

Or is there another way we can incorporate specific technical info like this into our style guide?

[2020-10-20 21:31] adellape commented on #32
FWIW, the `docker` package is not available in RHEL8: https://access.redhat.com/solutions/3696691

In OpenShift docs, we've been preferring showing `podman` for simple client commands (push/pull/login/run) for a while.

[2020-10-20 23:32] IngridT1 commented on #2
@leswilliams44 @bergerhoffer I started a thread on the CCS Style Council GChat, and referred Dawn to this issue. Let's see what she says.

[2020-10-21 08:03] stoobie commented on #29
@bergerhoffer Thanks for the great suggestions. I'll take your comments into account in the PR. I created a new branch, but didn't get a chance to push it yesterday. Will do so today.

[2020-10-21 08:39] pwright commented on #32
I think this is a technical issue, not a style issue, consider the following numbers:
![image](https://user-images.githubusercontent.com/5154224/96694769-c3ffe080-1380-11eb-9280-e99aa2df2154.png)
![image](https://user-images.githubusercontent.com/5154224/96694891-eabe1700-1380-11eb-9077-cf31297b83b3.png)

While users with a complete RH stack should use podman, there are users who will use docker f

[2020-10-21 14:48] adellape commented on #32
The one I'm aware of is an internal link (therefore likely not appropriate here), unless you're referring to something else?

+1 to this.

[2020-10-21 15:15] pwright commented on #32
@adellape I was referring to the internal link, and agree that it's not appropriate here, but maybe something like https://developers.redhat.com/blog/2019/02/21/podman-and-buildah-for-docker-users/ (thanks @jbyrne-redhat) would be helpful for new writers who want background.

[2020-10-21 21:12] IngridT1 commented on #2
I've opened this as a feature request with the form that Dawn Aly suggested. It's being tracked on this spreadsheet:
https://docs.google.com/spreadsheets/d/1F0M8-biMHG6ytSV2fB0j7ReNWjHIEr9ojswF_FeyX1U/edit?usp=sharing

If we are able to improve the look of the tables in Pantheon 2, we can then make a suggestion for a standard style for parameter tables. I suggest that we keep this issue open for n

[2020-10-23 10:18] vikram-redhat opened #34 "Add guidance on documenting features that have known issues"
We don't seem to have an official guidance on documenting features in product docs and/or in release notes that have issues due to which those features may not work. If a reader is looking at documentation on a feature and the feature works but with bugs, should we:

* not document the feature at all since it doesn't work? OR...
* document the feature but link to the known issue from the feature d

[2020-10-23 11:29] rkratky commented on #34
@vikram-redhat, I believe that's what the Known Issues doc is for. If a feature is included, but QE or others find a bug (that's not a blocker, i.e. the feature is not pulled, and the release goes ahead), then we document the problem (and possible workarounds) in Known Issues.

Adding notes about it into the doc itself would add undesirable overhead. (That is, of course, unless the "bug" is deemed

[2020-10-23 11:46] vikram-redhat commented on #34
Cool. I think you are saying that the third option that I listed is the correct one to follow in this case.

Should we note this in this guide so that we can have a consistent usage for this use case across our product docs?

[2020-10-25 07:06] rkratky commented on #34
Yes.

I suppose... Which brings to mind what I perceive as a general lack of CCS-wide guidance about release notes (and known issues). Every team (and product) uses a different approach, so there's no consistency in the amount of content, structuring, or formatting. Not to mention that all RH release notes look ugly and boring compared to what's out there :(

[2020-10-25 09:03] vikram-redhat commented on #34
Agreed - perhaps this could be the step in making another attempt to standardize. :)

[2020-10-25 17:55] bergerhoffer commented on #34
I feel like there were a few folks in CCS who worked on defining standards for release notes, but I can't think of who it was. I'd be interested in hearing thoughts from them on this.

@IngridT1 or @redhat-documentation/ccs-style-council does anyone know who/what I might be thinking of?

I can see value to including the known issue/workaround directly in the affect doc procedures, etc., but can se

[2020-10-25 18:06] leswilliams44 commented on #34
@bergerhoffer, When I worked on .NETCore, I used known issues within the release notes. I also based what I did on the RHEL release notes. I think Jirka Hermann may have a pretty good approach to release notes because he coordinates them for all the RHEL subsystems team, or at least that's my understanding.

[2020-10-25 18:21] stoobie commented on #34
@bergerhoffer Isn't PR 22 [1] what you're referring to? @ndeevy implemented these guidelines.

[1] https://github.com/redhat-documentation/supplementary-style-guide/pull/22

[2020-10-25 19:27] bergerhoffer commented on #34
@stoobie No, that's just guidance for doc text. I thought I remembered something in mojo or a Google doc or something that people in CCS put together a few years back for more overall release notes guidelines. But I might be misremembering.

[2020-10-25 19:35] stoobie commented on #34
@bergerhoffer I don't know what it's like on your product, but in RHV and RHEL and I thought most products, if not all, then the Doc text field in Bugzilla is the place where you write the release note, and define what kind it is: bug fix, known issue, etc.

Here's the summary text/outline from the article that @ndeevy wrote more than a year ago on Mojo (now the Source):

It includes:
* Enhancemen

[2020-10-25 19:40] bergerhoffer commented on #34
@stoobie I understand what you're getting at, but no, that's not what I'm thinking of. I think there was some other document/effort around release notes, which is what I'm seeing if anyone else remembers something else like that.

[2020-10-25 22:18] cbudz commented on #34
@bergerhoffer @stoobie - I recall there being some discussion or effort on a comprehensive release notes strategy. @leswilliams44 can you tap content strategy to see if anyone there is clued in on this or familiar with any effort?

[2020-10-25 22:29] leswilliams44 commented on #34
@cbudz, will do

[2020-10-26 14:12] ndeevy commented on #34
Hi @bergerhoffer, I'm going to send you two links on the Style Council google chat about some team-specific release notes guidance that was discussed a few months ago.

[2020-10-27 18:15] bergerhoffer opened #35 "Checklist to going live"
This is our checklist to complete before the first version of the supplementary style guide can go live.

### Guide updates

- [x] Add entry for replaceable values (PR #30)
- [x] Add entry for formatting code examples (#38)
- [x] Add entry for long code blocks in procedures (#39)
- [x] Add entry for lead-in sentence for Prereqs and Procedure headings (PR #37)
- [x] Remove empty placeholders (PR #3

[2020-10-28 11:57] mcljot commented on #2
Hello! Apologies for the delay submitting my input.

My issue was with the inconsistency of information presented in parameter tables in RH documentation, not that the tables are ugly. I think the tables look great so long as we don't exceed three columns, but we have a requirement to be able to include four or five columns easily so that we can represent all relevant information about parameters

[2020-11-13 19:00] IngridT1 commented on #34
Sorry to be late to the party. I think that @naciao might know something about that. I would normally go look on Mojo for what I'm thinking about, but am not sure that it's made it to The Source yet.

[2020-11-13 21:29] IngridT1 commented on #2
@mcljot Sorry if I misrepresented you. Your explanation here is much more coherent than what I originally posted.

[2020-11-20 15:13] IngridT1 opened #42 "Avoid self-referential descriptions"
I think that we need to add this admonition to the Supplementary Style Guide: Avoid self-referential descriptions. We have them all over our guides, and they are content focused, not customer focused. Anytime you write something like this, you're taking the customer out of their mindset and forcing them to think like us.

DITA Best Practices (https://www.amazon.com/DITA-Best-Practices-Roadmap-Arch

[2020-11-20 15:37] bergerhoffer commented on #42
+1 for adding guidance to avoid this. Not that we probably need a comprehensive list, but I see "This section..." a lot. But same deal.

I quick glance through the IBM style guide and I couldn't find any guidance on this either.

The only thing that I'd like further clarification on is introductory sentences for reference modules. I feel like there are going to be lots of examples like "The follow

[2020-11-20 17:52] inoxx03 commented on #42
@IngridT1 +1 to this suggestion. thank you for raising it. I think we could  definitely use less of _This guide explains how you can do X_ in our product documentation. If we don't make it a rule, we could at least make it  as a recommended practice to avoid  using such statements in our product docs:)
@bergerhoffer To your point: I keep seeing self-referential opening paragraphs being used throug

[2020-11-20 17:59] inoxx03 commented on #18
Hi @bobjohnsrh is there any way we can help you in completing this issue? If you are still engaged in release work on EAP and need more time before you can work on this that's ok:)  I'm checking progress on all open issues as required by my admin duties.

[2020-11-20 18:10] inoxx03 commented on #34
Do you by any chance mean the [Middleware Release Notes Consistency Project](https://docs.google.com/presentation/d/15mZr-sK8If5Jvzmm9cMXBzjB5vwaRagsK5mQ7eWbr9M/edit#slide=id.g5c4c4a1d02_0_74)?

The project reached Phase 1 in Mid-2019 and was led by @sjay72 if I rememember correctly.

If this is a moot point already, then I'm sorry for the spam, but I hope that the information I found helps.

[2020-11-20 18:23] inoxx03 commented on #2
@mcljot @IngridT1 @leswilliams44  Is there anything that @redhat-documentation/ccs-style-council can do to move work on this issue forward?  Are we waiting on input by anyone?

[2020-11-20 18:31] leswilliams44 commented on #2
@inoxx03, It looks like Ingrid opened a ticket for the work to be done in Pantheon 2.

I've opened this as a feature request with the form that Dawn Aly suggested. It's being tracked on this spreadsheet:
https://docs.google.com/spreadsheets/d/1F0M8-biMHG6ytSV2fB0j7ReNWjHIEr9ojswF_FeyX1U/edit?usp=sharing

If we are able to improve the look of the tables in Pantheon 2, we can then make a suggestion

[2020-11-20 18:40] IngridT1 commented on #42
@inoxx03 The DITA Best Practices guide is the resource that you've been looking for! Just like the IBM Style Guide, it is published by IBM, so it has authority. DITA is just the IBM term for the kind of modular documentation that we are currently doing.

When the DITA guide says "topic," you can substitute our term "module." When DITA says "short description," think "introduction to a module."

I

[2020-11-20 18:46] IngridT1 commented on #42
@bergerhoffer I confess that I am not sure about phrases like "The following table describes . . ." "This diagram shows . . .". It could be that we should just have a number and caption for every table and that would take care of some of the issues (for example, "Table 1. Parameters to use in a configuration file" or something like that). Then, you can use the table number to refer to the table.

[2020-11-20 18:46] inoxx03 commented on #32
TL;DR: +1 This would be a good minimal guideline (see below for details).

We should refer to docker as the default container management tool in product documentation. The Podman [community docs](https://podman.io/whatis.html) even mention that the command syntax for both tools are highly equivalent (to the point that you can alias `docker` to `podman` and carry on using the same commands).

You c

[2020-11-21 20:17] bergerhoffer commented on #42
@IngridT1 So I assume that we'd still want an introductory sentence/paragraph to reference modules. My question was, if it's a reference module containing a table, is a intro sentence saying "This table describes ...", or should we avoid that? And if so, then what would be some good example intros for reference modules.

I can't imagine that we'd only want to have a table title/caption with no int

[2020-11-23 12:09] pwright commented on #32
@inoxx03 works for me

[2020-11-24 10:13] oraNod commented on #42
+1 for avoiding self-referential text in abstracts. My 2c is that this PR shouldn't be about eliminating phrases but developing better writing habits and approaching content from the user's perspective. You should always focus on user goals at higher level content.

That said I think it's perfectly valid to introduce pieces or groups of reference content with phrases like "This/the following table

[2020-12-01 19:23] bergerhoffer commented on #35
Need to merge these PRs:

* https://gitlab.cee.redhat.com/ccs-internal-documentation/glossary-of-terms-and-conventions-for-product-documentation/-/merge_requests/209 (adding deprecation note to GitLab glossary)
* https://github.com/redhat-documentation/glossary-of-terms-and-conventions-for-product-documentation/pull/11 (redirecting GitHub glossary to style guide)

[2020-12-02 07:03] stoobie commented on #42
This all sounds good in theory. There are problematic exceptions that arise, or if they are not exceptions, they are more complicated than most scenarios. Of course I can't think of any off the top of my head to present as an example, but I know that just last week I ran into such a situation. I can try to locate the example -- maybe I just needed a suggestion on how to deal with it.

In the case

[2020-12-02 07:16] stoobie commented on #35
@bergerhoffer It appears that these have both been merged, correct?

[2020-12-02 07:40] stoobie commented on #29
This issue was addressed in https://github.com/redhat-documentation/supplementary-style-guide/pull/33, so I'm closing this issue.

[2020-12-02 07:40] #29 closed

[2020-12-02 14:24] IngridT1 commented on #42
@bergerhoffer @stoobie When I looked at the DITA Best Practices guidelines again, they seem to be focused on short descriptions--the introductory info at the start of a module--I think that some people are calling this an "abstract". With that context, you should be able to say, "This table . . ." or "Figure 1.1 . . .". In fact, the DITA Best Practices book does use that language more than once.

[2020-12-02 15:52] stoobie commented on #42
@IngridT1 You know, I was thinking that you could make your minimalism classes a lot more minimal if you would just tell people "Write gooder!"

[2020-12-02 16:00] oraNod commented on #42
@IngridT1 Not just about being customer focused but avoiding lazy writing. "This topic is about" is a shortcut and approaches the content from the writer's perspective, not the audience perspective. I feel like that should be part of the guideline description or something so it doesn't make it sound like the guideline is about banning a particular construction.

[2020-12-02 16:46] bergerhoffer commented on #35
Closing this as the style guide is now officially live! :tada:

[2020-12-02 16:46] #35 closed

[2020-12-02 17:17] maxwelldb opened #45 "Describe exactly which ISG rules that the supplemental guide overrides"
I'm not sure how helpful this guidance is for a couple of reasons:

1. Which guidance in particular? Could there be a list?
2. The ISG is far more expansive than the supplemental guide, which you'd expect--the primary guide is going to be more involved than a supplement to it. It seems more reasonable to me to ask writers to refer to the ISG first, and come to the supplemental guide for additional

[2020-12-02 22:36] bergerhoffer commented on #45
@maxwelldb We want users to check this guide first, because if there is guidance that is overridden, they would stop once they found what they were looking for in the ISG. Then they could be following something that is actually not consistent with what the rest of CCS is doing.

I realize that this v1 of the supplementary guide doesn't contain a ton of guidance, but it will continue to get built o

[2020-12-03 07:37] stoobie commented on #35
@bergerhoffer @cbudz Woohoo!

[2020-12-03 07:56] jafiala opened #46 "Include Conscious Language Initiative words"
We should include the recommendations from the [Conscious Language Initiative](https://source.redhat.com/aboutredhat/weareredhat/diversity/diversity__inclusion_wiki/conscious_language_project_faq).
Blacklist/whitelist are not included in the SSG but should be.
Master/slave is referred to and should not be.

[2020-12-03 08:00] apinnick opened #47 "Not italicizing user-replaced variables"
https://redhat-documentation.github.io/supplementary-style-guide/#user-replaced-values

I recommend that user-replaced variables not be italicized because the markup and rendering can be very messy if a code block or CLI example contains strings that begin with `__`.

See Vladimir Slavik's on my blog post, [AsciiDoc Workarounds](https://source.redhat.com/personal_blogs/asciidoc_workarounds).

[2020-12-03 08:00] jafiala commented on #45
+1 to this. Ideally, we would have just one resource, but clearly marking any overlap will help a lot when negotiating the finer points.

[2020-12-03 09:26] ndeevy commented on #45
Would it help to include an orienting sentence or a subheading with the types of things you should come here?

'For Red Hat CCS specific guidance on formatting variables, code examples, graphical interface elements, and other deviations from or additions to _The IBM Style Guide_.'

Or something better.

+1 making it more clear though. Especially flagging the overrides somehow like @bergerhoffer su

[2020-12-03 12:54] stoobie commented on #45
I just want to point out that implementing this creates a dependency, such that any time the IBM Style Guide is updated, any references to it might become obsolete.

It's similar to including direct hyperlinks in documentation to any publication external to the document -- as long as the link's target stays in place, having the link is user-friendly. As soon as the target goes away, the link becom

[2020-12-03 13:31] cbudz commented on #45
+1 to @stoobie's comment. In my opinion we're also creating more overhead by flagging individual topics and I'm not entirely sold on the value if the order of operations for using this guide should stop any user from moving to IBM if a topic is included here.

As per @ndeevy's suggestion, I think we can be more descriptive in the about section if that would better benefit users.

[2020-12-03 13:34] bergerhoffer commented on #47
@apinnick I agree that there are some places where italicizing can be more complicated, but as far as I'm aware, I haven't come across anything that hasn't been able to be solved with a workaround.

[2020-12-03 13:36] IngridT1 commented on #45
I have [a page in The Source](https://source.redhat.com/groups/public/ccs/ccs_wiki/ccs_style_guides_and_term_conventions) that lists the Order of Operations for using style guides. I know that doesn't help for non-Red Hatters, but you might be able to reuse that text, if that helps.

[2020-12-03 13:41] bergerhoffer commented on #46
Great suggestion. We can definitely add blacklist/whitelist as general entries, saying to either write around it or to use one of the listed alternatives, due to conscious language reasons.

Master/slave is going to be more complicated, because some of these might still be used in the product, and docs can't completely remove the references until the products do. My initial thoughts would be to:

[2020-12-03 14:21] jafiala commented on #46
Thanks Andrea, that sounds like a good solution. I mean, white/blacklist is also still used in places but we're moving away from those quite soon.

I definitely second "write around it or use one of the listed alternatives" in this order. Many instances of "whitelisting" are actually jargon and can be rewritten more clearly, even if one were to neglect the CLI reasons.

[2020-12-03 15:13] cbudz commented on #46
@bergerhoffer @jafiala It might be best to touch base with Kartik and see what plans they have fo updating terms across documentation groups and best align with the initiative. I noticed we have a good number of glossary entries for specific products that would need updating.

[2020-12-03 15:34] leswilliams44 commented on #46
@cbudz, Kartik is going to talk about conscious language at the Jan 14 CCS Best Practices meeting. Yet one channel to get the word out.

[2020-12-03 16:04] jafiala commented on #46
Sure, I am actually participating in this initiative in updating some of RHEL security docs. This just felt like a place where such terms should be mentioned so that our future docs are aligned with it and we don't have to fix it retrospectively.

[2020-12-03 17:19] cbudz commented on #46
@jafiala fully agreed. This is ideally the space for that guidance moving forward.

[2020-12-04 13:21] cbudz commented on #46
@jafiala are you willing to help us coordinate updates on our end since you're participating in the initiative?

[2020-12-04 14:52] jafiala commented on #46
@cbudz Willing sure, but not sure what it entails. Let's discuss this separately, if you don't mind.

[2020-12-07 15:32] stoobie commented on #32
I've read through all the comments, and I still don't understand why this belongs in the style guide. Why would someone looking for this type of info consider looking in the style guide? Is the suggestion to add it to the glossary? If so, under which product? RHEL? OpenShift?

[2020-12-07 17:09] stoobie commented on #45
I haven't seen any more comments on this in the last 4 days. Does anyone on this thread right now want to create a PR implementing @ndeevy's and @cbudz's suggestions?
If not, then I can create one.

[2020-12-08 19:01] cbudz commented on #45
@stoobie I'll create a PR from the suggestions here. Will assign to myself.

[2020-12-08 20:20] bergerhoffer opened #49 "Add names for UI elements"
We should add entries for what to call these two UI elements, known (informally?) as a hamburger button and kebab icon:

**Hamburger button**
<img src="https://user-images.githubusercontent.com/7443887/101533139-79075000-3963-11eb-857a-4aa9d11eb3e9.png" width="25" height="25">

**Kebab icon**
<img src="https://user-images.githubusercontent.com/7443887/101533457-d8656000-3963-11eb-9fc9-a12040f6ed8e

[2020-12-08 20:45] leswilliams44 commented on #49
@bergerhoffer, I have also seen a "kebab" with the three dots aligned horizontally. I am not sure of the functional difference between the horizontal and vertical alignments.

[2020-12-09 17:26] leswilliams44 commented on #49
@bergerhoffer, Thanks for thinking about this issue. I agree with you that kebab and hamburger sound less than professional, and I think your proposal makes sense.

[2020-12-10 17:43] bergerhoffer commented on #13
PR #50 updates the OpenShift glossary items to address the recent terminology style updates per the OpenShift docs team.

This addresses (at least the glossary entries for) the first item suggested in the description. Any API object/resource should be marked up as a literal value in monospace. See the "API objects" glossary entry in that PR: https://github.com/redhat-documentation/supplementary-st

[2020-12-10 17:48] oraNod commented on #13
monospace for the win

[2020-12-11 10:02] oraNod commented on #13
@bergerhoffer Thanks for the style guidance. I'm going to close this issue now.

[2020-12-11 10:03] #13 closed

[2020-12-14 21:09] bergerhoffer opened #51 "Add guidance for avoiding future predictions"
Is anyone aware of any guidance (in the IBM style guide or elsewhere in Red Hat, like legal?) to avoid predicting the future in documentation?

Typically at least on OpenShift, we avoid saying things like "This will be fixed in 4.7" or even "This will be removed in the next release". If we have to say something at all, we'd usually opt for something like "This might be removed in a future release.

[2021-01-08 16:30] cbudz commented on #51
Hey  @bergerhoffer we might want to check as to what legal implications there are around including in documentation any notification of forthcoming fix or enhancement.  I know there can be some ramifications in certain circumstances.

[2021-01-08 16:47] roldanbob commented on #51
I don't think that IBM Style explicitly weighs in on mentioning future
plans, but in my experience at IBM it was always a requirement that the
documentation avoid preannouncing product plans or alluding to possible
changes that might occur in future releases. The primary reason for this,
as Chris mentions, is that customers can construe that such statements
imply legal obligations.

/b

On Fri, Ja

[2021-01-20 20:11] bergerhoffer commented on #49
These two terms are now entries in the new 2020 version of the IBM style guide:

![image](https://user-images.githubusercontent.com/7443887/105228781-fa402e00-5b30-11eb-95eb-15ce78664eba.png)

![image](https://user-images.githubusercontent.com/7443887/105228849-104dee80-5b31-11eb-954f-14dc2a631f27.png)

I'm going to close this issue since it's already covered now. The only thing left might be whet

[2021-01-20 20:11] #49 closed

[2021-02-01 16:20] ncbaratta opened #53 "Red Hat Container Catalog is no more"
We have an entry for the Red Hat Container Catalog, but it's not the Ecosytem catalog and there is a container images section.  It's complicated and I'm not sure what we should call it.  The link redirects to https://catalog.redhat.com/software/containers/explore

[2021-02-01 16:56] bergerhoffer commented on #53
It looks like we started an update for the OpenShift docs awhile ago in this PR [1] but it got closed due to inactivity. It looks like the plan was to update the text related to the above link to "Container images section of the Red Hat Ecosystem Catalog".

For this guide's purposes, I think we would want to add an entry for "Red Hat Ecosystem Catalog". Not sure if there's a good description of it

[2021-02-01 17:03] bergerhoffer commented on #47
@apinnick Unless you have any further objections, I'm going to close this issue.

The new 2020 version of the IBM style guide actually has more guidance on replaceable values, and using angle brackets with italics.

So I think we have the right idea with our current guidance.

[2021-02-01 17:03] #47 closed

[2021-02-09 02:17] leswilliams44 commented on #18
Hi, @bobjohnsrh: Is there any way we can help you with this issue?

[2021-02-09 13:42] leswilliams44 commented on #25
Hi, @bergerhoffer, Are there any updates for this issue?

[2021-02-09 13:47] leswilliams44 commented on #32
Hi, @roldanbob. Are there any updates for this issue?

[2021-02-09 13:52] leswilliams44 commented on #34
Hi, @vikram-redhat and @bergerhoffer. Do we have any updates for this issue?

[2021-02-09 16:24] roldanbob commented on #32
@leswilliams44 No, no new points to add on my end.

I'm fine with either offering minimal guidance with links to other resources, including the information as part of a glossary entry, or leaving it out of the style guide altogether. Although the style guide might not be the appropriate vehicle, it does seem like it would make sense to codify our recommended approach somewhere. Originally, I raise

[2021-02-09 23:50] leswilliams44 commented on #32
@cbudz and @bergerhoffer, Is this issue something we can vote on at the next meeting?

[2021-02-10 15:26] leswilliams44 commented on #42
Hi, @IngridT1 and @bergerhoffer:

Is this issue ready to be voted on during our next meeting?

[2021-02-10 16:21] leswilliams44 commented on #45
Hey, @cbudz. Just going through the open issues and asking for updates. Do you need any help with this issue?

[2021-02-10 16:22] leswilliams44 commented on #46
Hi, @jafiala and @cbudz. Do you have an update for this issue?

[2021-02-10 16:24] leswilliams44 commented on #51
Hi, @bergerhoffer. Is there an update on this issue?

[2021-02-10 16:25] leswilliams44 commented on #53
Hi, @ncbaratta and @bergerhoffer. Is there an update on this issue?

[2021-02-10 16:51] jafiala commented on #46
Hi Les. We discussed this in the push request. Since explicit and sufficient guidance for these terms is part of the new version of the IBM Style Guide, we decided not to duplicate it in the supplementary guide. I closed the push request but had not closed this suggestion. I'm closing this now.

[2021-02-10 16:51] #46 closed

[2021-02-10 18:53] bobjohnsrh opened #56 "Terms from EAP terminology and usage to add to other locations?"
While migrating the EAP terminology and usage content, I noticed several terms that might belong in other locations, mostly general conventions, but a few to specific other products.

- ActiveMQ, ActiveMQ Artemis (Add to AMQ module?)
- class loader, class loading, class path, CLASSPATH (Add to general conventions "C" module?)
- Customer Portal (Add to general conventions "C" module?)
- Java (Add t

[2021-02-11 17:10] bergerhoffer commented on #53
@ncbaratta Does my proposal above sound like it would resolve what you raised here?

[2021-02-11 17:12] ncbaratta commented on #53
Yes!

[2021-02-11 17:13] bergerhoffer commented on #51
I did happen to see that "How to write about future events (without breaking the legal rules)" was on the word nerds agenda. Looking at the agenda, it looks like @IngridT1 might have raised it with them. So I'd be curious what came/will come out of that discussion - @IngridT1 do you have any updates on this?

[2021-02-11 18:07] bergerhoffer commented on #25
I don't have any updates because we don't really use XML on OpenShift so I'm not sure what a good recommendation would be. I'll add this to next meeting's agenda.

[2021-02-11 20:17] IngridT1 commented on #51
@bergerhoffer Word Nerds did not have a great answer for this. This was basically our discussion:

- The corporate blog occasionally mentions future releases, but even when they do, they try to surround the mention with wiggle words. For example, in the corporate blog, you could say something like, "This is planned to be fixed in the next version." or "We are tracking a fix."
- It might be okay to

[2021-02-11 21:02] bergerhoffer commented on #53
I've opened #57 to update the container catalog entry, and add one for the ecosystem catalog. There is an outstanding question in the PR here: https://github.com/redhat-documentation/supplementary-style-guide/pull/57#issuecomment-777784622

@ncbaratta Can you please take a look and let me know if you have any feedback? I've tossed a preview build here: http://file.rdu.redhat.com/~ahoffer/2020/gith

[2021-02-11 21:06] bergerhoffer opened #58 "Consider adding icons for the "Use it" field"
We might want to consider adding icons for the "Use it" field. I feel like it can be easy to overlook that something is actually not supposed to be used. People might skim, find the entry, and not look at that field. I think that icons would make it more obvious to know the status of the term at a quick glance.

I feel like we might have discussed this in the past, but can't remember if we purpose

[2021-02-11 21:16] bergerhoffer commented on #32
We could definitely bring it up for discussion. We have product-specific glossary terms, but right now we don't have product-specific style/guidance/conventions. It's definitely something that we can consider adding, but I'm not sure that we would add just this entry alone without other guidance.

It might be something that we just have to table until we figure out if this is a direction that we'r

[2021-02-11 21:51] bergerhoffer commented on #51
Thanks @IngridT1 that's helpful.

I think that the IBM style guide's guidance is generally good, but I do think that we need some guidance for when we do have to talk about it. A particular example is when things are being deprecated. We do need to give users heads up that we're probably removing something in the next release.

I like the suggestions about "planned" from the word nerds. That is so

[2021-02-12 15:41] cbudz commented on #51
The IBM guidelines listed above align with what was listed on the source page you dug up not long ago @IngridT1

I also agree with @bergerhoffer that we probably do need to craft some stipulation for deprecations. I've worked on projects that included announcements of deprecations in release notes, and it's important for customers to plan for, so I think we should cover that at the very least as p

[2021-02-16 02:11] IngridT1 commented on #42
Yes, @leswilliams44 I think so.

[2021-02-19 12:57] IngridT1 opened #61 "Single-step procedures at Red Hat deviate from IBM Style"
The FCC Guidelines deviate from the IBM Style Guide on how we handle one-step procedures. Here are the IBM SG guidelines:

"If a procedure consists of only one step, present it as a sentence or short paragraph, and do not number it."

We should call this out in the Supplemental Style Guide and send people to the FCC guidelines.

[2021-02-19 13:00] IngridT1 opened #62 "Groups are spinning up to tackle how the new IBM SG changes our conversational tone, etc."
How do we keep all these different groups in sync? Jennifer Ciroli, for example, wants to start a group about using less formal language. That seems to be something that we're already working on. At the very least, we need to coordinate with her, so that our recommendations are consistent.

What other groups are there?

[2021-02-19 13:05] leswilliams44 commented on #62
@IngridT1, Keeping people synced on standards is a big concern for me. Standards and best practices don't mean anything if people choose alternatives because they can.

[2021-02-19 20:30] jhoyt-rh commented on #62
@leswilliams44 @IngridT1 I agree this is a concern -- 1. whether there needs to be another style group focusing on using less formal language, and 2.  how we get everybody on the same page about syncing the many styles and other standards. Seems to me it is difficult for writers, and especially writers new to Red Hat, to be aware of the plethora of style guides and initiatives. It's also an easy w

[2021-02-22 15:16] bergerhoffer commented on #61
Agree

[2021-02-22 19:23] bergerhoffer commented on #62
+1 definitely sounds like something that overlaps with our group and that we'd want to be involved or in sync with, if a group like that is warranted.

I can't say that I was aware that there were changes in recommendations for tone in the new ISG. So I'd be interested in hearing more on that. But I have to say that (without hearing more) I'd be hesitant to be less formal in the content we produce

[2021-02-24 13:25] sterobin commented on #25
@bergerhoffer @leswilliams44 Well, in our product we use XML variables a lot and we used to use what @inoxx03 mentioned because that's the standard in Maven pom.xml's anyway and commonly adopted. However, I went through and updated all of those refs to __IP_ADDRESS__ (as an example), no brackets, ital, and all caps, because that was the initial decision we made. I noticed we decided against that b

[2021-02-24 13:53] bergerhoffer commented on #25
As discussed in the meeting today, @sterobin mentioned that the ${} format was what people would expect to look for, no matter whether it's a system-replaced value, or a user-replaced value.

And that as long as we italicize the options that the user has to actually replace, that should be a good enough differentiation.

[2021-02-24 13:54] bergerhoffer commented on #25
Will open a PR to add that note, so that others can weigh in/see if there are any concerns.

[2021-02-24 13:56] sterobin commented on #25
Also as discussed in the meeting, the only downside of the ${} format is that relying on lowercase ital as the indicator for user-replace vs. system-replace (no ital) is pretty subtle and could leave users wondering if it's an error or intentional. This was one of the upsides of going the all-caps route that we initially discussed many moons ago. But we have to move forward with something, and the

[2021-02-25 14:52] mportman12 opened #65 "Conversational Style addition to the guide"
As discussed in the Feb 24 Style Council meeting:
The IBM Style Guide describes four levels of conversational style (p. 19) ranging from most to least conversational. Based on feedback from Jennifer Ciroli, it seems like a good idea to specify in the supplementary style guide which tone Red Hat writers should aim for in product documentation.
Based on the initial discussion in the Style Council me

[2021-03-01 14:37] IngridT1 commented on #62
@bergerhoffer @leswilliams44 @cbudz @jhoyt-rh I talked to Jennifer Ciroli about this, and she said that she thinks her effort will actually just become part of Chris' Managed Services style guide. So that project, at least, is under control. Do we know of any others that have started?

[2021-03-02 14:25] gregraka commented on #61
Hi,

The mod doc template for procedures goes a bit further by stating:
    "Use an unnumbered bullet (*) if the procedure includes only one step."
Perhaps the SSG should mention this, too?

[2021-03-02 14:42] gregraka commented on #58
Hi Andrea,

I'm not aware of this device in our docs. Would you mind pointing to an example?

Thanks,
--Greg

[2021-03-03 05:19] stoobie opened #67 "Need guidance on prerequisites"
The IBM Style Guide does not include guidelines for prerequisites.

The style council discussed guidance for writing prerequisites in documentation, but no PR was created yet. This issue is just for tracking.

This issue recently popped up as a discussion on the modular documentation gChat, and I realized that we need to create a PR.

The style council, after much discussion and dissension, decide

[2021-03-03 09:34] oraNod commented on #67
My 2c on all of this is that using the imperative voice doesn't make something a procedure. A procedure is a set of steps.

The imperative structure keeps an authoritative style and is clear. It also addresses the user directly, even though the "you" is implied.

I get the idea that pre-reqs are a sort of "checklist" for things that need to be complete before diving into a procedure. However, I th

[2021-03-03 10:10] ndeevy commented on #67
I like the idea of helping writers write good prereqs but I'm a bit unsure about including the passive at all and the wording of this doesn't take everything into account.

Passive voice removes or hides the agent of the action but the agent is clear in this sentence (`You are logged in with root permissions.`). This sentence just describes a state in the present tense so I think it might not be h

[2021-03-03 12:14] stoobie commented on #67
@ndeevy @oraNod Good comments.
@bergerhoffer  @cbudz @emmurphy1 Do you have input?

[2021-03-03 12:31] ncbaratta commented on #67
I believe we should avoid passive voice wherever possible and vote for active voice in prerequisites.

[2021-03-03 16:39] bergerhoffer commented on #67
I honestly don't have a strong opinion on this, and I can't actually remember the prior discussion. I see pros and cons to both ways. I personally tend to write prereqs in the passive voice, but I definitely get the desire for active voice when possible. My question here would be how to word in active voice when the prerequisite isn't done by the same person as the person performing the procedure.

[2021-03-03 16:55] bergerhoffer commented on #58
Sure! So we have the "Use it" field in our glossary for each entry. It can either be "yes", "no", or "with caution". Right now it looks like this:

![image](https://user-images.githubusercontent.com/7443887/109841419-067ed700-7c17-11eb-8b4e-d5a588f8b99a.png)

The IBM style guide uses an icon to indicate whether a term should be used or not (or with caution). Like below:

![image](https://user-imag

[2021-03-03 21:59] IngridT1 commented on #67
Sometimes, you have to use passive voice in a prerequisite or in technical writing in other areas. But, in general, I would avoid it, if at all possible.

If we put this out as a guideline to the broader writing community, I think that you would see a lot of people who strongly object to encouraging passive voice in any way.

[2021-03-03 22:01] gregraka commented on #58
@bergerhoffer I like the icons! +1

[2021-03-08 15:05] bergerhoffer commented on #62
Thanks for following up on this @IngridT1! I'm not personally aware of any others, outside of the managed services effort.

[2021-03-08 22:29] IngridT1 opened #69 "The new IBM Style Guide recommends "lifecycle", but everything we have says "life cycle"."
The old IBM Style Guide (2015) recommended "life cycle" for a noun (life-cycle as an adjective). This is also the standard for the Corporate Style Guide, the Customer Portal, and all of our legal docs around life cycle.

The new IBM Style Guide (2021) says "lifecycle". Now we need to add an exception the CCS supplemental style guide.

[2021-03-09 00:32] leswilliams44 commented on #69
It's common for two words to morph into one. Not my favorite trend, but it's happened as long as I can remember being interested in words and good scores on vocabulary tests. Life cycle vs. lifecycle is consistent with the word-morphing slide, similar to losing the hyphen after a prefix. I think it's more important that we differentiate between the noun and the adjective (life-cycle).

[2021-03-09 14:09] IngridT1 commented on #69
I actually prefer "lifecycle", because then non-native speakers don't have to worry about the distinction between noun and adjective. It's very confusing to explain to people. However, it would be a pain to change everything.

[2021-03-09 18:37] bergerhoffer commented on #69
I've always preferred "lifecycle" as well. If we don't actually agree with "life cycle" two words, and don't feel like we have a good reason from deviating from the ISG, then I'm not sure that we should add an exception to the SSG.

The scope of our SSG is for product documentation, not for the entire company. I agree it's not great to have inconsistencies, but we can't control outside of CCS. Out

[2021-03-10 01:45] bergerhoffer commented on #53
PR #57 has been merged. Closing this issue!

[2021-03-10 01:51] bergerhoffer commented on #42
@IngridT1 would you be up for drafting a PR with the recommendation? I don't think that there have been any objections to adding some guidance on this.

[2021-03-10 16:25] IngridT1 commented on #42
Sure, @bergerhoffer, I can do that. Do we want to talk about it in our meeting or just here?

[2021-03-10 17:16] bergerhoffer commented on #42
@IngridT1 I don't think it's necessary to discuss at the meeting since it isn't a controversial topic. Once the PR is open, then folks have a chance to weigh in if anything needs to be adjusted. Thanks!

[2021-03-22 10:23] stoobie opened #74 "Clarify source of truth for different types of information"
Problem: We have three separate documents providing some overlapping information and conflicting guidance, and it is not clear to writers which document is the source of truth. The three documents are:

- The Mod Docs Reference
- The style guides (this one and the IBM Style Guide)
- The Asciidoc markup quick reference

To clarify which guide is the source of truth for what type of information, I p

[2021-03-22 10:25] stoobie commented on #74
@rkratky @emmurphy1 @cbudz @bergerhoffer Please comment.

[2021-03-22 19:41] IngridT1 commented on #42
@bergerhoffer @cbudz What part of the guide does this belong in? General Formatting? Or should we make a new section that this can be part of?

[2021-03-22 19:55] IngridT1 commented on #42
I've written the blurb, but I'm not sure where to insert it.

[2021-03-23 11:38] cbudz opened #75 "Guidelines for writing abstracts in documentation"
Carried over from CCS discussion.

We need to:

- Define abstract.
- Determine where in a doc the abstract goes.
- Define short description.
- Differentiate between an abstract and a short description at the module level or adopt a single term if they are both the same.
- Provide style guidelines with examples
- Update existing topics to reflect changes

[2021-03-23 14:08] leswilliams44 commented on #75
Do we have any reference material to consult as a starting point?

[2021-03-23 14:49] jhoyt-rh commented on #75
Wondering where the decision to include Abstracts came from. I don't find it in the IBM Style Guide. Do we have an idea of why it was decided to have abstracts in the first place (and where to have them)? Perhaps if we did, we would know the problem they were attempting to solve by having them. And that might provide some guidance.

Also, IF we decided to have them, but use one term for both abstr

[2021-03-23 15:17] leswilliams44 commented on #75
@jhoyt-rh, Abstracts are one way we can improve SEO results. JP Sherman has conducted a lot of talks about this and is trying to help up make our documents more findable.

Abstracts are considered front (prefatory) matter.

Hope that helps a bit.

[2021-04-01 18:38] samccann commented on #75
There were two abstracts talked about in the original CCS email thread:

- At the document level as seen here - https://access.redhat.com/documentation/en-us/red_hat_hyperconverged_infrastructure_for_virtualization/1.8/html-single/upgrading_red_hat_hyperconverged_infrastructure_for_virtualization/index?lb_target=preview
- At the individual module level as recently added to the mod-docs templates,

[2021-04-29 11:26] ncbaratta opened #76 "Suggest adding "standalone""
The ISG says to put the hyphen in stand-alone, but it appears that most of our products (if not all) have this as one word already.  I recommend adding it to the guide as an exception to the ISG.

[2021-04-29 11:49] msve commented on #76
For EAP we already use standalone (without hyphen) in a lot of places, because that's the name of one of the server modes and name of the default configuration. We feel that using the form with hyphen might be confusing for users and it would introduce an extra burden for doc and QE teams (we will have to particularly careful with where to use which of the two forms).

So from EAP QE we support th

[2021-04-29 12:07] dfitzmau commented on #76
Thanks, Nicole and Martin. I also agree with keeping the "standalone" term based on the use of the term both in upstream and downstream environments.

[2021-04-29 12:42] bergerhoffer commented on #76
To be clear here, you're not asking that we always use "standalone" in favor of "stand-alone", but instead asking to add an entry for "standalone" to say that it's an acceptable usage when the product you're writing for uses that terminology?

[2021-04-29 12:49] bergerhoffer commented on #74
This sounds like a good idea to add to the guides. I would probably move the AsciiDoc markup guide last though, because I do think that any specifics for AsciiDoc in the mod docs guide would be more important than the general AsciiDoc guidance in there. Plus the mod docs guide gets updated/adjusted much more frequently, and the AsciiDoc guide can fall behind.

[2021-04-29 12:51] ncbaratta commented on #76
@bergerhoffer the discussion was here: https://chat.google.com/room/AAAAAjCmTJI/WvJeFjdYbHg but in short, the guides all seem to have `standalone` but the new IBM Styleguide says to use `stand-alone`.  So we want it in the supplementary style guide to say it's okay to ignore this rule in the IBM Styleguide and instead use the standard we already have in place across most of our products (if not al

[2021-04-29 13:01] bergerhoffer commented on #42
@IngridT1 Yeah I think that under "General formatting" should be good enough for now. If we have more items to add in the future that look like we could create a new section appropriate for this too, we can always move it then.

[2021-05-04 19:24] cbudz commented on #45
@cbudz open the PR you said you would

[2021-05-04 19:32] cbudz commented on #74
@stoobie can you open a PR for this?

[2021-05-04 20:15] bergerhoffer commented on #62
Closing this issue because there have been followups to check in with other teams that we know of who are working on style-related guidelines. And also a separate issue (#65) to define the conversational style.

[2021-05-04 20:15] #62 closed

[2021-05-04 20:18] bergerhoffer commented on #32
Upon further discussion, closing this issue as this is more of a product strategy item and is outside the scope of the general style guidelines.

[2021-05-04 20:18] #32 closed

[2021-05-04 20:23] bergerhoffer commented on #18
A draft for this was started in #55 but needs additional work. Will follow up with the EAP team.

[2021-05-04 20:28] bergerhoffer commented on #51
This is on me to check with the legal team to see if they have any guidance on this that would help us.

[2021-05-04 20:28] bergerhoffer commented on #25
This is on me to submit a PR for.

[2021-05-05 13:11] ndeevy commented on #67
We have this general rule (ISG) to use active voice as much as possible. Most people seem to follow that when writing so I think _maybe_ we don't need to mention voice here at all.

Making this into guidance more like:
  'your prereqs don't necessarily have to be parallel.
   <examples>'
seems more helpful.

[2021-05-05 13:27] sterobin commented on #67
So to summarize some thoughts on our CCS style council today in favor of passive voice ...

The purpose of prerequisites is by nature to list things that should already be present or completed before you begin the procedure that follows, i.e., they're checks not tasks. If they're not complete, go and do them, if they are, then press on. If we put a prereq in active voice, then it's no longer a che

[2021-05-05 14:42] bergerhoffer opened #79 "Allow or disallow contractions?"
The new 2020 IBM style guide allows for contractions in technical documentation (the old version did not). We should consider adding an exception to the SSG to avoid contractions (unless we want to allow them).

Old IBM guidance:

New IBM guidance:

[2021-05-05 16:59] inoxx03 commented on #75
@redhat-documentation/ccs-style-council
What are the terms that we should go with for the front-matter abstract vs. the assembly or module-specific  abstract?
I don't recall whether we achieved consensus, yet.
Is it _abstract_ for the prefatory one and  _short-description_ for the one in modules and assemblies?

Personally, I'd use _abstract_ for the ones in modules and assemblies, because they ar

[2021-05-06 15:29] stoobie commented on #67
Thank you @sterobin for that very clear explanation.

The bottom line that I took away from the meeting is: _Be as clear and concise as possible. You can use the passive voice if necessary to achieve that end._

Based on all the opinions expressed, I suggest the following guidelines:

Prereqs should be non-active statements that should be true in order to proceed with a procedure. They are checks

[2021-05-06 18:32] ndeevy commented on #67
Clearly explained! Thanks @sterobin, a lot of that makes much more sense to me now.
@stoobie your summary makes sense: _Be as clear and concise as possible. You can use the passive voice if necessary to achieve that end._

One thing - I feel like the term "non-active" might introduce some confusion when we talk about active and passive so maybe we could tweak that a bit. From the above examples:

[2021-05-07 12:05] sterobin commented on #67
@stoobie @ndeevy , all makes sense to me. I'm not sure I'm totally convinced on the unparallel aspect. In @stoobie 's examples, what I do in reality is "You have a functioning ...", "You have login credentials ...", etc. I know Steve is specifically saying that he's not in favor of that due to the repetition, but to me it's preferable and less awkward than the repetition. Plus it gets confusing th

[2021-05-07 14:50] inoxx03 commented on #75
@redhat-documentation/ccs-style-council
OK, I suppose I may have been overthinking things a bit when I wrote my previous question:)

Here's what I'm going with a after some consideration:

I'll disregard the prefatory DocBook abstract for now and focus on providing guidelines for writing the abstracts that we are required to have in modules and assemblies.
This is largely due to our ongoing effort

[2021-05-07 16:21] IngridT1 commented on #67
@ndeevy @sterobin When I said that your lists didn't have to be parallel, I meant that you didn't have to worry if some of the complete sentences were in passive voice and others were in active voice. Heck, if you wanted to have an imperative sentence in the list, I think that would still be parallel, as long as they were all complete sentences. Parallelism, in general, is a good idea, but it does

[2021-05-10 19:31] IngridT1 opened #81 "Standard Technology Preview boilerplate"
@leswilliams44 brought up this issue. We have standard boilerplate for Technology Previews. You can find information about that and lots of discussion among a variety of writers and content strategists on The Source:

Template and guidelines for documenting Technology Preview features: https://source.redhat.com/groups/public/ccs/ccs_wiki/template_and_guidelines_for_documenting_technology_preview_f

[2021-05-13 13:37] bergerhoffer commented on #58
Decision at the May 5 project meeting was to move forward with this. I will look into this.

[2021-05-13 13:41] bergerhoffer commented on #69
Decision from the May 5 project meeting - follow the IBM Style Guide's new guidance of "lifecycle". No action needed because no exception is needed for the SSG.

[2021-05-13 13:41] #69 closed

[2021-05-13 13:45] bergerhoffer commented on #76
Decision from the May 5 project meeting - add an entry to the SSG to add "standalone" as the preferred form (over "stand-alone"). This is not product-specific (to EAP or any others), but will be our general guidance for the term across product docs.

@cbudz to draft PR.

[2021-05-19 07:16] mjahoda opened #83 ""As expected""
Because the IBM Style Guide (IMHO incorrectly) uses "as expected" a lot and I haven't found any written guideline regarding this, I am proposing to add something along the following to the Supplementary style guide:

"as expected" - expectations are relative and do not belong to technical documentation. Use "correctly" or "properly" instead.

[2021-05-19 07:28] jafiala commented on #83
I second this (although, full disclosure, I learned this from mjahoda).

I think the main argument against using "as expected" is that we cannot assume users' expectations. For example, a tester might _expect_ a task to fail, but that does not mean the task functions correctly.

[2021-05-19 08:46] jherrman commented on #83
This is definitely a fair point, though if I remember correctly, "as expected" is meant to be a more user-focused version of "as intended" (meaning to say the software does what it's bloody supposed to in a given situation).

On top of that, you could find not-dissimilar issues with the meanings of "correctly" [1] and "properly" [2], too.

[1] I think what @jafiala points out is actually an argume

[2021-05-19 08:58] mjahoda commented on #83
@jherrman As I am reading through your comment, I am regretting that I forgot to add "as intended" to this issue :-)

To your point [1] - I am not a native speaker and I do not see anything strange using "correctly" in the mentioned scenarios.

Regarding [2] - well, I also feel that "correct" is more appropriate than "properly" in technical docs

Speaking of the removal from all existing docs - I

[2021-05-25 13:31] jlprevatt commented on #67
I stick by my thoughts in #68 that something like the following construction (lead-in sentence, grocery list, extra info as needed) eliminates a lot of the problems with active/passive, parallel construction, and who does the action:

Prerequisites

Before you begin, you must meet the following prerequisites:

- This thing.
- That thing.
- Another thing. You need this thing because why. This takes

[2021-06-01 16:16] bergerhoffer commented on #61
Closing - PR #80 was merged.

[2021-06-01 16:16] #61 closed

[2021-06-10 15:07] rolfedh opened #86 "Un-comment the include to publish the style_guidelines/specific-doc-types.adoc"
The current guidelines on Release Notes were merged, but still need to be included. The current master.adoc looks like this:

[code]

[2021-06-10 17:36] bergerhoffer commented on #86
Thanks @rolfedh, closing!

FYI @ndeevy

[2021-06-10 17:36] #86 closed

[2021-06-17 11:25] ndeevy commented on #83
Hi!  my 2 cents:

I also dislike and remove "as intended/expected" but also for an additional reason: it's passive. Who or what expects/intends the behaviour? nobody knows usually.

"Correctly" and "properly" both have the element of not knowing what that might mean precisely but I think it's better than "as intended/expected". However, I agree with @jherrman   that 'properly" should not be used b

[2021-06-17 11:33] ndeevy commented on #79
+1 to deviate from the ISG and recommend to disallow or at least avoid them. Removing them can increase readability, translation, and non-native reader comprehension in many cases and would help us maintain consistency with our current doc set.

[2021-06-17 12:32] ndeevy opened #88 "Conscious language replacement for blacklist/whitelist"
Internally within RH we offer some flexibility to replace problematic terms and increase inclusive/conscious language. Apparently, this is to accommodate upstream communities' needs and choices.

However, for  blacklist/white list, the Conscious Language Project group have agreed to promote this replacement: blocklist / allowlist , which is in line with the ISG.
"blocklist / allowlist - this combi

[2021-06-17 18:25] roldanbob commented on #88
Of course, we have to recognize differences due to our need to reflect in-product terminology. Our Engineering team was among the first to eliminate problematic language, and as I mentioned in an earlier thread, they renamed properties to use `[include|exclude]-list`.

[2021-06-18 08:35] igkioka commented on #88
Thanks, Naomi! Have such CLP elements in the ISG would be helpful to keep consistency in our docs. Occurrences dependent on the code are flexible according to the product terminology needs.

[2021-06-21 23:02] bergerhoffer commented on #65
Closing as #71 addressed this

[2021-06-21 23:02] #65 closed

[2021-06-23 13:35] sterobin commented on #76
Addressed in PR #89 . Pending approval and merge.

[2021-06-23 13:43] rkratky commented on #81
+1 to having this in the guide. In fact, as there already is a blurb about TP in the guide, it should be updated/fixed to use the boilerplate language and link to the right KB article. (See **Technology Preview** in https://github.com/redhat-documentation/supplementary-style-guide/blob/master/supplementary_style_guide/style_guidelines/specific-doc-types.adoc.)

Another thing: CCS even has a standa

[2021-06-23 14:10] bergerhoffer commented on #83
We discussed this in the 23 June style council meeting and agreed that there are often better alternatives to using "as expected" and that we can add an entry for it.

@mjahoda Would you mind opening a PR to add an entry for "as expected" with recommended guidance against it, and provide some alternatives?

[2021-06-23 14:13] bergerhoffer commented on #88
Discussed at the 23 June style council meeting. Agreed that it would be good to add guidance to the SSG, though there was discussion about whether allowlist/blocklist really were the best terms, or if it would be better paired as allowlist/denylist.

We also want to add some guidance to recommend writing around the terms when possible (instead of just doing a find/replace of the terms).

Next step

[2021-06-23 14:15] roldanbob commented on #81
I know that we don't typically provide documentation for Developer Preview features, but it does happen, and I'm currently scheduled to provide content for a DP feature in Q3. Do we have any standard language to use with DP? I see that RHEL has a [Beta preview snippet](https://gitlab.cee.redhat.com/red-hat-enterprise-linux-documentation/rhel-8-docs/-/blob/master/rhel-9/common-content/snip_beta.ado

[2021-06-23 14:48] bergerhoffer commented on #81
Discussed at the 23 June meeting and agreed that we should add the standard Technology Preview blurb to the SSG. We already even have a placeholder for it.

@roldanbob to answer your question, it did come up that we might also want to add guidance for dev preview or other support states as well. I know that we have this: https://source.redhat.com/groups/public/commonreleasetermsonprem but I don't

[2021-06-23 14:52] bergerhoffer commented on #79
Discussed at the 23 June council meeting. Decided that we should add guidance to avoid contractions in our normal technical docs (less conversational tone). For consistency in existing docs, for translation reasons, and for international audience reasons. But to allow flexibility for them if you're using a less formal tone (most conversational or fairly conversational), for example in quickstart c

[2021-06-24 17:01] bergerhoffer commented on #76
PR has been merged, closing!

[2021-06-24 17:01] #76 closed

[2021-06-24 17:39] spank50 commented on #88
The discussion brought up a couple of points. One point is that "blocklist" sounds very much like "blacklist" depending upon the speaker. Another point is that we can choose better related antonyms. For example allow/deny  pass/block.  Block is not a well-related antonym for allow.

[2021-06-30 15:10] mportman12 commented on #88
@ndeevy Can you create a PR for this issue?

[2021-06-30 16:10] mportman12 commented on #79
@bergerhoffer Can you create a PR for this issue?

[2021-06-30 16:24] mportman12 commented on #88
@ndeevy Can you open a PR for this and add info on the conscious language committee's guidance and guidance on how to write around problem terms?

[2021-06-30 16:25] mportman12 commented on #75
@inoxx03 Can you create a PR for this issue and add guidelines for writing abstracts?

[2021-06-30 16:26] mportman12 commented on #74
@stoobie Reminder to open a PR for this :)

[2021-06-30 18:32] inoxx03 commented on #75
Hi, @mportman12  Yes, absolutely. Apologies for the lag :)

[2021-06-30 20:10] bergerhoffer commented on #79
Opened PR #93 with a draft of an entry.

[2021-07-01 13:21] dfitzmau opened #94 "Use ${} format to represent user-replaced values (URVs) in XML snippets"
**Purpose**
I've raised this PR to track the use of the _${} format_ for XML elements (and possibly other code bases that specify elements with angle brackets (<>)). A discussion on the following PR has agreement  comments on the use of _${} format_ for XML snippets versus the use of angle brackets:

https://github.com/redhat-documentation/supplementary-style-guide/issues/25

**Issue**
On writing

[2021-07-01 13:22] dfitzmau commented on #25
Separate PR raised for the ${} suggestion for code bases that use angle brackets to enclose their elements:

https://github.com/redhat-documentation/supplementary-style-guide/issues/94

[2021-07-01 18:52] bergerhoffer commented on #94
Opened #95 to add this entry.

[2021-07-01 18:53] bergerhoffer commented on #25
Opened #95 to add the entry. The only thing I wasn't super sure about was making sure that still using underscores as the separator for multi-words was appropriate.

[2021-07-01 19:20] bergerhoffer opened #96 "Update ISG name"
The older IBM style guide versions were titled "The IBM Style Guide". For the newer versions, it's just called "IBM Style Guide"

Update our references that say "... _The IBM Style Guide_ ..." to "... the _IBM Style Guide_ ..."

Check the following places:
* The actual style guide content
* This repo (readme, etc.)
* Source pages

[2021-07-06 13:50] bergerhoffer opened #98 "Clarify guidance for "on-premise" entry"
Per word nerds, we're sticking with "on-premise" despite ISG saying to not use "on-premise", and suggesting to use "on-prem" or "on-premises" instead.

The SSG already has an entry [1] that says to use "on-premise", but let's also add "on-premises" and "on-prem" as incorrect forms.

Perhaps also consider adding on-prem and on-premises as their own entries, with "use it" set to "no".

[1] https://r

[2021-07-07 08:12] mjahoda commented on #83
@bergerhoffer I am just wondering if I should add the term as:

1. as expected -> a.adoc
2. expected -> e.adoc (adverb)
3. expect, expected -> e.adoc (verb, adverb)
4. any other suggestions? (+ create also an entry for "as intended" and xref each other)

[2021-07-07 19:10] mportman12 commented on #83
@mjahoda I vote for as expected -> a.adoc. While the IBM Style Guide doesn't give guidance for `as expected`, it does give guidance for other `as <word>` terms and lists them under the letter A.

[2021-07-15 16:42] dayleparker opened #101 "Standard Development Preview Boilerplate"
We need to standardize on the term Development Preview vs Developer Preview.

From Slack, in #ocm-osd-ui, regarding a label for features in OpenShift Cluster Manager - similar to 'Technology Preview': https://coreos.slack.com/archives/C01G3PL29SS/p1626263095090800

<snip>
Alana Fialkoff
I think we should standardize using the full form: Technology Preview. That way, it can be easily translated and

[2021-07-15 16:43] dayleparker commented on #101
cc @bergerhoffer

[2021-07-15 17:00] afialkoff commented on #101
Thanks for creating this issue, @dayleparker! For some added context, Managed Kafka currently writes it as "Development Preview" in their UI.

I've added our drafted in-product definition of "Development Preview" for the Bare Metal Assisted Installer, too:

We should establish a feature naming convention as well as an in-product definition, that way we can keep all references to this type of featu

[2021-07-15 17:00] abigaeljamie commented on #101
Thanks for adding this, @dayleparker ! Can we also address the correct capitalization for it, too? I've seen "Development Preview," "Development preview," and "development preview." I don't know which one is correct.

Also, this doesn't need to be on PatternFly. The terms on PatternFly are general UI words and not Red Hat-related (for example, we would explain how to use the word "Cancel" and "Sta

[2021-07-15 17:02] bergerhoffer commented on #101
+1 for defining this in the SSG.

At a minimum, we should add entries for the proper terms: Technology Preview and Development (or Developer) Preview.

Per #81 we also want to add the common template/blurb for tech preview features. We can also consider doing something similar for dev preview. Not sure if we have one yet, or would need to define it first.

As for Developer vs Development Preview -

[2021-07-15 17:45] roldanbob commented on #101
Without passing judgement on which usage is best, in terms of common usage, on the Red Hat Developer site, a [search for "Developer Preview"](https://developers.redhat.com/search?t=%22Developer+Preview%22&s=null) yields 41 results, while a search for ["development preview"](https://developers.redhat.com/search?t=%22Development+Preview%22&s=null) has 5.

Seems like we have to coordinate with the DX

[2021-07-26 20:13] bergerhoffer commented on #79
Closing, as #93 was merged.

[2021-07-26 20:13] #79 closed

[2021-07-28 16:22] bergerhoffer opened #108 ""host name" or "hostname"?"
Old IBM guide said to use "host name" two words. New IBM guide says to use "hostname" (unless updating old content that still uses two words).

We still have an entry in the SSG [1] to use two words. Just checking if we want to keep with "host name" two words as is in the SSG now, or if we want to follow the new IBM style guide guidance (and remove the SSG entry). Thoughts?

[1] https://redhat-doc

[2021-07-28 16:27] mportman12 commented on #108
I was curious which spelling writers are using in documentation, and the answer is both. `Hostname` returns just under 15,000 results, while `host name` returns a little under 7,000 results (still significant).
Perhaps, instead of mandating one spelling across Red Hat, we should be looking more product specific?

[2021-07-29 14:22] mjahoda commented on #83
I put "as expected" to a.adoc as Miriam voted, and I opened a PR:

https://github.com/mjahoda/supplementary-style-guide/pull/1/files

[2021-07-29 17:25] bergerhoffer commented on #108
I'd say that if there was a reason it had to be different depending on the product, then that would be fine to override as necessary. But I do think we still need to know which general guidance to follow, when you're generically just talking about a host name.

I'm not sure what you searched, but if I look in OpenShift, we have 196 instances of "host name" and 397 instances of "hostname". However

[2021-07-29 17:32] bergerhoffer commented on #83
@mjahoda thanks! I reviewed the PR, but it is in your personal fork. Can you please open it as a PR in this upstream repository [1]?

[1] https://github.com/redhat-documentation/supplementary-style-guide/pulls

[2021-07-29 17:48] mportman12 commented on #108
I ran a search in the Customer Portal and limited results to 'Documentation'. Good point about `hostname` getting over-represented because of commands.

I did a little research, and from a quick browse of Google results, it seems that both spellings are used in the industry but `hostname` is more common. Grammatically, `host name` two words makes more sense. But it seems like most people will be u

[2021-08-09 21:14] bergerhoffer commented on #88
@ndeevy Any chance you'd have time for this sometime soon? This is coming up for the OpenShift team soon, so it would be nice to make sure that we're following what the SSG is going to recommend.

[2021-08-11 12:42] ndeevy commented on #88
Thanks for the nudge @mportman12 and @bergerhoffer
Please take a peek at the connected PR - please and thanks!

[2021-08-20 17:13] ktothill opened #111 "Include source data in "user replaced value in a code block" section"
[[user-replaced-values]]
== user-replaced-value-in-a-code-block

The code block example in the "user replaced value in a code block" section of the User Replaced Values entry does not include the `source` data.

I recommend adding the `source` data to match the XML user replaced value examples later in the guide.

.Example AsciiDoc
[code]

[2021-08-23 14:54] bergerhoffer commented on #94
Closing because the PR has merged. Update is live: https://redhat-documentation.github.io/supplementary-style-guide/#user-replaced-values-xml

[2021-08-23 14:54] #94 closed

[2021-08-23 14:54] bergerhoffer commented on #25
Closing because the PR has merged. Update is live: https://redhat-documentation.github.io/supplementary-style-guide/#user-replaced-values-xml

[2021-08-23 14:54] #25 closed

[2021-08-23 14:56] bergerhoffer commented on #18
This was handled by #97, which has merged. Updates are live: https://redhat-documentation.github.io/supplementary-style-guide/#_red_hat_jboss_enterprise_application_platform

[2021-08-23 14:56] #18 closed

[2021-08-23 14:56] bergerhoffer commented on #56
Closing, as EAP updates were recently revamped via #97.

[2021-08-23 14:56] #56 closed

[2021-08-23 15:03] bergerhoffer commented on #111
Thanks @ktothill! So, I do agree that a source would be helpful if appropriate. But "source,bash" isn't necessarily correct for terminal commands. If you look at the guidelines here [1] for code blocks, it says:

On OpenShift, we use "source,terminal" for terminal commands, but I'm not sure if that's used by other teams (or even actually rendered differently at all on the portal). @redhat-document

[2021-08-23 15:09] ktothill commented on #111
Hello!! Thank you so much for the reply!

Ah, apologies for the confusion. On the Telco side, we usually specify the language, but I agree that a generic "terminal" makes more sense here.

I'm also new and could be misinformed, in which case I'll gladly default to "terminal" :)

-Katie

[2021-08-24 08:15] ndeevy commented on #111
Interesting topic. FWIW in OpenStack, we don't specify a language for terminal commands.

[2021-08-24 14:21] inoxx03 commented on #108
@bergerhoffer @mportman12 We already seem to have a glossary entry that recommends suing "host name" over "hostname", introduced in PR #60 . We should update it when we make a decision on this issue.

[2021-08-24 14:23] mjahoda commented on #83
Resolved by https://github.com/redhat-documentation/supplementary-style-guide/pull/112

[2021-08-24 14:23] #83 closed

[2021-08-24 14:47] bergerhoffer commented on #51
@cbudz You mentioned last meeting that this might come up for your managed services work. Did you still have bandwidth to reach out to legal on this topic, or should I or someone else reach out?

[2021-08-24 14:50] bergerhoffer commented on #42
@IngridT1 you mentioned that you had a blurb written for this, can you submit it as a PR?

[2021-08-24 14:53] bergerhoffer commented on #45
@cbudz do you know where we left off with this, or what is left to do? I know you submitted #54 but wasn't sure if there was more to do. I'm unclear as to what the result of this discussion was.

[2021-08-24 14:55] bergerhoffer commented on #74
@stoobie can you draft this blurb with the related resources?

[2021-08-24 14:56] bergerhoffer commented on #75
@inoxx03 Is this something you can work on in the near future?

[2021-08-25 00:09] daobrien commented on #75
Perhaps you could start with the existing material that CCS put together some time back:
https://stylepedia.net/style/5.0/#abstracts

It hasn't been updated for a while and might need some tweaking, but all the basics are there.

[2021-08-25 03:47] stoobie commented on #75
@inoxx03 The Mod Docs guide doesn't use the word "abstract". The "_abstract" tag is a Pv2 requirement/suggestion (See the Pv2 EUD PR on usage guidance for Pv2 https://github.com/redhataccess/pantheon/pull/621). Here's the mod docs guidance related to module abstracts copied from the guide:

= Concept Introduction

The introduction to a concept module is a single, concise paragraph that provides a

[2021-08-25 03:52] stoobie commented on #75
@inoxx03 Let's get JP Sherman's input. I'll ping him because I don't know his Github handle.

[2021-08-25 03:56] stoobie commented on #75
@inoxx03 It's very important that any guidelines we provide on usage considers Pv2 (and SEO) requirements, for example, an abstract needs to be in one paragraph. That's often counter-intuitive. For example, it means _not_ using bulleted lists to list a sequence of items.

[2021-08-25 14:15] inoxx03 commented on #75
@stoobie Thank you for summarizing the rules for introductory paragraphs above. I'll make sure to include them in the section when I create the PR.

As far as formatting specifics go, If I remember correctly, there should be no blank line between the [role="_abstract"] tag and the intro paragraph, either.

Finally, regarding the use of the term "abstract", I realize that Pantheon 2 does not use th

[2021-08-25 14:21] bergerhoffer commented on #108
Decision from meeting (and followup with UX gchat), we will follow ISG recommendation of "hostname". I will submit a PR for this.

[2021-08-26 12:36] dayleparker opened #116 "Add a link to Patternfly style guide"
Another writer asked me about what to call a UI element today -- specifically the three dots that we call 'more options' in docs for the console.redhat.com apps. (Many designers/internal people call this the 'kebab' menu, but that's not optimal for localization or our customers.)

As it's a Patternfly UI element, I found my answer in that style guide: https://www.patternfly.org/v4/ux-writing/writi

[2021-09-01 19:44] spank50 opened #117 "Guidelines for Organization Administrator / organization administrator and Org Admin / org admin"
In Red Hat customer-facing documentation (solutions, articles, CCS guides) the role of Organization Administrator appears several ways.

- Organization Administrator
- organization administrator
- Org Admin (short form)
- org admin (short form)

Because all the variations refer to the same role, we should use the same term for this role.

Customer Portal Examples:
https://access.redhat.com/solutio

[2021-09-08 14:57] bergerhoffer commented on #116
@dayleparker Would you be interested in opening a PR to add this link to the Patternfly guide in? Or would you rather someone from the style council to do it? Thanks!

[2021-09-14 15:31] bburt-rh opened #121 "Guidelines for documenting CLI commands that require elevated privileges"
Currently, neither the _Supplementary Style Guide_ nor the _IBM Style Guide_ provide recommendations for how to handle sample CLI commands that require root privileges. A de facto standard practice seems to be to include a `$` or `#` at the beginning of the command to indicate the required permission level.

A few questions to consider (I'm sure that there are probably others that I'm not thinking

[2021-09-14 17:47] bergerhoffer commented on #121
Good questions and I think that this would be good to add to the SSG.

I think that using # or $ to indicate root or regular user is helpful. But I also do think that it would be helpful to indicate early in the procedure or in the prerequisites that you'll need to be a root user. It's possible that someone might not know that the prompt indicates it, so an explicit mention in the prepreqs that ro

[2021-09-20 08:29] ndeevy commented on #88
Closing because this issue is resolved by #109. Published:
https://redhat-documentation.github.io/supplementary-style-guide/#conscious-language

[2021-09-20 08:29] #88 closed

[2021-09-22 21:42] libander commented on #121
This is a good question. I'd say sudo should be used whenever it's necessary to execute a command that requires elevated privileges. Arguably it sets a good example re using sudo over su. (It's also reasonable to assume someone in a position to be using our documentation is in the sudoers file, while they may not necessarily have root credentials.) From a user perspective, CLI samples are often co

[2021-09-23 09:03] daobrien commented on #121
This is pretty well documented in the Red Hat Style Guide.

https://stylepedia.net/style/5.0/#idm46356813838448

[2021-09-24 01:27] daobrien commented on #121
Yeah at some point CCS branched off and started doing their own thing, but I thought there's so much info in the RH Guide that seems to answer some of your questions you might as well make use of it. You might just need to tweak bits of it to suit your purpose. cheers.

[2021-10-06 14:57] inoxx03 opened #124 "Fix minor style issues and typos throughout the guide"
This issue tracks minor style issues and typos identified in the guide that can be fixed separately from larger updates.

* https://redhat-documentation.github.io/supplementary-style-guide/index.html#appliance-console
	* set-up -> setup (set-up not recommended by IBM SG, we use _setup_ throughouth the SSG)

* https://redhat-documentation.github.io/supplementary-style-guide/index.html#composite-con

[2021-10-06 16:46] bergerhoffer commented on #58
PRs have been merged to add the icons. Closing!

[2021-10-06 16:46] #58 closed

[2021-10-06 16:46] bergerhoffer commented on #117
PR #118 added this to the style guide. Closing!

[2021-10-06 16:46] #117 closed, assigned to nobody

[2021-10-19 15:16] mportman12 commented on #34
@bergerhoffer @vikram-redhat There hasn't been any progress on this issue for nearly a year. I vote we either table it as on hold, or close the issue without resolution at this point.

[2021-10-21 14:55] #116 closed, assigned to nobody

[2021-10-21 17:58] bergerhoffer commented on #34
Yeah I honestly don't know if we're going to find a good resolution for this, so I'm okay to close it. @vikram-redhat Let us know if this is still something that we need to pursue and we can reopen.

[2021-10-21 17:58] #34 closed

[2021-10-27 07:13] jafiala opened #130 "Add "as" to the list of terms to be used with caution"
Although not specifically listed in the IBM SG, I perceive "as", when used as a conditional conjunction, to have the same problems as "once" and "since".

For example: "Consequently, the command would fail **as** the copy source files did not exist on the managed hosts." would be clearer as "Consequently, the command would fail **because** the copy source files did not exist on the managed hosts.

[2021-10-27 15:09] #130 closed, assigned to nobody

[2021-11-02 20:06] rolfedh commented on #51
@bergerhoffer The "Deprecated Functionality" subsection in the [Release Notes](https://redhat-documentation.github.io/supplementary-style-guide/#release-notes) section of the Supplementary Style Guide (SSG) has several mentions of future releases like this one:

[code]
We'll need to update this to reflect current policy.

[2021-11-03 17:10] bergerhoffer commented on #51
Thanks for pointing that out @rolfedh, we'll definitely look to see if we have to make adjustments on that once we hear back from legal!

CC @bburt-rh, who has volunteered to move this issue forward.

[2021-11-09 15:34] dayleparker commented on #101
Hi all, are there any updates on this? Related development Jira - https://issues.redhat.com/browse/PD-650
Also, thanks for performing that search, @roldanbob!

[2021-11-12 15:02] bburt-rh commented on #51
I've got a ticket in with Legal asking for official guidance. I'll report back when I hear from them.

[2021-11-13 02:28] leswilliams44 opened #134 "Removing data center entry because it is covered in IBM Style Guide"
Please consider deleting the entry for data center. The same guidance is provided on page 267 of the _IBM Style Guide_.

[2021-11-15 14:43] bburt-rh commented on #51
@bergerhoffer @ndeevy  - I got a response from Legal about this issue, and they pointed me to an internal document  that provides guidance for corporate communications (I won't provide a link here as the document is on the internal RH intranet; I can send it out via chat if necessary).

In this document are a couple of relevant items:

Section 5(e):
On release dates: "We can not provide specific d

[2021-11-15 16:42] rolfedh commented on #51
Thank you for gathering those references, Brian. I think we should mention them in the supplementary style guide and make various updates to templates and boilerplate content we use, such as:
[code]

[2021-11-16 01:31] bergerhoffer commented on #134
I'm okay with removing it, unless we think it's important to keep the part about marketing:

[2021-11-16 01:34] bergerhoffer commented on #101
Per last month's meeting @IngridT1 was going to reach out to the CCS team members who worked on the technology preview boilerplate, as a starting point for this.

[2021-11-16 11:34] ndeevy commented on #124
#132 was merged for this issue. Closing.

[2021-11-16 11:34] #124 closed

[2021-11-16 14:07] bergerhoffer commented on #51
Thanks @bburt-rh! I think that those two items cover it pretty well. I say this is enough to draft a new entry on avoiding future predictions (or however it should be named). Would you mind taking a stab at a PR, or did you want someone else to work on it?

[2021-11-16 15:10] bburt-rh commented on #51
@bergerhoffer I'll draft some content and submit a PR. I may have time to do it later this week, but it's more likely it'll be post Thanksgiving. Does that timing work?

[2021-11-16 15:26] bergerhoffer commented on #51
@bburt-rh This issue has been open since last December. A few more weeks will definitely not hurt :smile: Thank you!

[2021-11-16 20:20] ndeevy commented on #51
This change seems logical. One tiny nit: maybe we should say 'Red Hat plans..' rather than 'we'?  Could be overkill or wrong and maybe this is a guess at the best legal wording here but it seems a bit clearer to detach ourselves from the company policy.

[2021-11-16 20:47] ndeevy commented on #51
This is great @bburt-rh

Iiuc, this is an update to the release note deprecation/removal templates and another entry to avoid future predictions or promises. If so, sounds great.

D'you think we should we include the entry from IBM that Ingrid pointed to above:
- Future product releases: Avoid claims that are related to the content or timing of a future product or release.
(I think it's quite auth

[2021-11-17 12:57] rolfedh commented on #51
The IBM SG supports your comment:

"we pronoun
Do not use to refer to IBM in technical information, as in "we recommend". Do not use to refer collectively to both the authors
and the audience, as in "we can proceed to the next step". Use only in the question portion of frequently asked questions
(FAQs), in marketing proposals, or in information that has listed authors and in which the authors desc

[2021-11-17 14:06] bergerhoffer commented on #51
+1 for not using "We" in whatever updates we make.

I would probably do a combo of this and our legal guidelines. It sounds like it's pretty set that we should not ever discuss specific dates for releases - so that should be straight forward ("Do not..."). But then for anything else, I'd start with something like what IBM says - to avoid discussing future events or plans - and then add what our le

[2021-11-24 19:22] mportman12 opened #135 "Master/slave entries in AMQ glossary"
In the AMQ section of the SSG glossary, there are multiple entries using [master/slave terminology](https://redhat-documentation.github.io/supplementary-style-guide/#master-slave-group):

- master-slave group
- master broker
- slave broker

Someone from AMQ should check whether we are still using this terminology in the documentation and update the SSG glossary if needed.

[2021-12-06 19:02] bergerhoffer commented on #135
Hey @mportman12, thanks for pointing this out. We recently reached out to all products to look into adding/updating their product-specific terminology lists. Hopefully this will be addressed when that is done for AMQ.

@fbolton FYI on this. Can you check whether these terms are still correct for AMQ, or if they need to be updated?

[2021-12-06 21:44] bburt-rh commented on #51
@bergerhoffer @rolfedh @ndeevy - I've written up some draft content for this issue in the following PR:

https://github.com/redhat-documentation/supplementary-style-guide/pull/137

Please review and provide feedback when you get a chance. Thanks!

[2021-12-07 18:49] bburt-rh commented on #51
@bergerhoffer Thanks so much for your comments and feedback! I've revised according to your review and pushed the changes to the PR here: https://github.com/redhat-documentation/supplementary-style-guide/pull/137/files

[2021-12-07 20:14] bburt-rh commented on #121
Draft content is ready for review and feedback at https://github.com/redhat-documentation/supplementary-style-guide/pull/139

[2021-12-08 14:27] bburt-rh commented on #51
@bergerhoffer @ndeevy I've looked over the PR I submitted, and I realized that we say "Do not refer to specific releases". However do we need to add an exception for deprecation notices? These notices might say something like "This feature is deprecated and will be removed in the next release".

[2021-12-08 16:08] bergerhoffer commented on #51
Hey @bburt-rh sorry I merged your PR before I saw this question :)

We did mention deprecation notices in the intro area. I guess my question is - do deprecation notices have to say "will be removed"? Because I'm wondering if they could still follow our guidance here, and say something like:

* This feature is deprecated and might be removed in the next release
* This feature is deprecated and is

[2021-12-08 16:19] ndeevy commented on #51
That's a really good point @bburt-rh  I agree deprecation should be addressed.

In the **Release notes doc texts** section we also included a template for deprecation or removal notices that shows examples of specific releases. We could add an extra bullet for exceptions like:
* Exceptions:
   * Deprecation or removal notices can mention specific releases.

Good thinking also, @bergerhoffer  looki

[2021-12-08 19:26] bburt-rh commented on #51
@bergerhoffer @ndeevy  I can submit another PR that states that deprecation notices are an exception to the "don't refer to future releases rule", and then link to the Release Notes guidance for deprecation notices. What do you think?

[2021-12-09 15:51] ndeevy commented on #51
That would work well, I reckon @bburt-rh

[2021-12-09 18:43] bburt-rh commented on #51
@ndeevy @bergerhoffer  Please review https://github.com/redhat-documentation/supplementary-style-guide/pull/140, which contains text about deprecation notices being exceptions to the rule about not referring to specific future releases.

[2021-12-14 15:13] bergerhoffer commented on #74
Closing since #128 was merged!

[2021-12-14 15:13] #74 closed

[2021-12-15 11:21] inoxx03 commented on #51
PR #140 merged.
Can we close this issue as resolved?
Thank you.

[2021-12-15 12:27] inoxx03 opened #142 "Add terminology for Red Hat Insights"
Product-specific terms related to Red Hat Insights:

The following names designate the names of products that are part of The Red Hat insights offering

* Advisor - manages configuration issues that affect availability, stability, performance and security
* Compliance-  assess and monitor the compliance of RHEL systems with SCAP security policies
* Drift - provides comparison of your systems' conf

[2021-12-15 13:37] IngridT1 opened #143 "Code blocks and technical elements (Compare current IBM Style Guide to our guide)"
We have a fair amount of guidance around code blocks. I was just reviewing similar information in the IBM Style Guide with members of the IBM Style Council. It looks like they have more guidance than I realized. We probably need someone more technical than I am to check the two sources against each other.

**IBM Style Guide versus Red Hat Supplementary Style guide.** We have some overlap, but we a

[2021-12-15 13:48] bburt-rh opened #144 "Grammatical errors in example deprecation notice and removal notice doc texts"
In the "Release notes" section of the style guide in the "Deprecated functionality" sub-section, two example texts are provided, both of which contain ungrammatical sentences:

- `Bug fixes and support is provided through the end of a future life cycle but Red Hat do not implement new feature enhancements.`

should read `Bug fixes and support are provided through the end of a future life cycle, bu

[2021-12-15 14:44] #51 closed

[2021-12-15 15:00] bergerhoffer commented on #144
I agree with the suggested modifications to the first two bullets.

And +1 to there being room for improvement with "After which, no new feature enhancements are made."

I'm guessing the "are" was to try to get rid of the future tense "will". But I don't have a strong preference on whether we need to avoid it here or not. It might sound better with the "are" if we rearrange like this:

[code]

But

[2021-12-15 15:04] bergerhoffer commented on #134
We discussed this at the 15 December 2021 SSG meeting. Since there is some additional guidance about marketing using one word "datacenter", we decided to keep this entry. Although marketing doesn't necessarily use the ISG or SSG, it might be helpful if CCS associates come across marketing material with one word, so that they know it doesn't need to be changed there. Closing!

[2021-12-15 15:04] #134 closed

[2021-12-15 16:03] bergerhoffer commented on #135
I emailed Fintan this morning and got this reponse:

https://access.redhat.com/documentation/en-us/red_hat_amq/2021.q3/html-single/configuring_amq_broker/index

So it looks like these terms are still being used, and it's not a change docs can make until the product makes the change first.

Closing this issue.

[2021-12-15 16:03] #135 closed

[2021-12-17 17:27] inoxx03 opened #145 "Add guidance for referring to changes that apply from a particular version onward"
This topic has been suggested by @oranod and @sangeetaraghu
We should consider providing guidance on how to refer to changes to a product that apply form a particular version onward.

There are multiple ways that this can be expressed, and I can see them all over our docs sets. For example
"{FeatureName} is available in {ProductName} version X.Y or later."
"{FeatureName} is available in {ProductNa

[2022-01-05 14:06] bredamc opened #147 "Fix various style issues and typos throughout the guide"
- [x] 1. General: Several of the words listed are already included in IBM Style. Examples include "agnostic", "client side", "cloud", "colocate", "data center", "DevOps", and so on. It might be a good idea to compare the list with the latest version of the "Word usage" topic (https://www.ibm.com/docs/en/ibm-style?topic=word-usage), and update the IBM Style entries as necessary? **[Volunteer needed

[2022-01-05 14:13] ndeevy commented on #147
Looks like great improvements and suggestions @bredamc
Some product teams might like to weigh in on changes to their sections because conventions can vary depending on the products' upstream communities and how they like to do things.

[2022-01-05 14:16] bredamc commented on #147
Thanks @ndeevy!

Can you please advise which items should be referred for consultation, and suggest who should be consulted?

[2022-01-05 14:22] ndeevy commented on #147
Sure :-]
Once the changes are in a PR we can see what's what, review with the larger group, and people can jump in if they have alternative suggestions from product areas too.

[2022-01-11 16:05] #121 closed

[2022-01-12 14:54] ndeevy opened #149 "Add terminology updates for Red Hat OpenStack Platform"

[2022-01-20 16:54] bburt-rh opened #151 "Add definitions of "privileges" and "permissions" to the glossary"
@stoobie pointed out in our gchat channel that neither the IBM SG nor the SSG provide guidance about the difference between "privileges" and "permissions" and when to use, or not use, the terms.

@bergerhoffer did some digging and [found some clarification on stackexchange](https://security.stackexchange.com/questions/41309/difference-between-privilege-and-permission).

To clarify the differences

[2022-01-24 13:57] themr0c opened #153 "Accept TLS"
As SSL is deprecated since 2011, we could recommend using `TLS` rather than `SSL/TLS`.

https://redhat-documentation.github.io/supplementary-style-guide/#ssl-tls

https://en.wikipedia.org/wiki/Transport_Layer_Security#SSL_1.0,_2.0,_and_3.0

[2022-02-02 14:06] inoxx03 opened #154 "Consider providing guidance on the usage of Java-specific terminology"
Developer-oriented content related to Java applications relies on language specific terms.

For example, when discussing exception handling in Java, developers use the verb _throw_ when referring to a program encountering an exception state.
Similarly, the verb _catch_ refers to handling an exception state programmatically within the application code.
These terms actually mirror the Java language

[2022-02-02 14:18] inoxx03 commented on #154
Considerations:

* Even though these terms are specific to Java, even very junior developers working within the Java ecosystem are extremely likely to be familiar with their meaning. (If such developers are )
* Some suggested alternative terms such as using `return` instead of `throw` are IMHO not suitable for Java, because `return` is another keyword used in Java code.
* _Throwing an exception_ a

[2022-02-04 17:08] porueesq commented on #101
@dayleparker Is the intention to distinguish "Technology Preview" from "Developer Preview"?

If it helps, CCS Wiki has this interesting entry about Technology Preview [0]. Please note that:

[0] https://source.redhat.com/groups/public/ccs/ccs_wiki/template_and_guidelines_for_documenting_technology_preview_features

[2022-02-10 19:20] jenmalloy opened #156 "Reverse the order of information presented in the Graphical interfaces examples"
In the Graphical interfaces section (https://redhat-documentation.github.io/supplementary-style-guide/#graphical-interfaces), the order that information is presented in the example sentences should be reversed:
* "Click *Metering* on the *Installed Operators* page."
* "Enter `test-postgresql` in the *Name* field."

As a user, I first have to orient myself to "where," so I can then perform the acti

[2022-02-10 20:07] bergerhoffer commented on #154
@inoxx03 I would agree that the terms `throw` and `catch` are correct in the context of Java. I would not advise to make any changes to the guidance of these terms in the SSG. `throw` and `catch` are actual Java code keywords.

To me, it sounds like you're raising this issue so that we can discuss more broadly to see if these words should be changed, but you don't personally agree that they should

[2022-02-10 21:51] bredamc commented on #147
Thanks @bergerhoffer! I'm happy to work on them, now that I'm a little more proficient at working with Git forks :)
Should I wait until they are discussed at the meeting, or make some changes before then?

[2022-02-11 08:39] dfitzmau commented on #153
I could ask in the JBoss EAP writers group. The latest release of [JBoss EAP ](https://access.redhat.com/documentation/en-us/red_hat_jboss_enterprise_application_platform/7.4/html-single/how_to_configure_server_security/index#enable_elytron_ssl)mentions using SSL/TLS.

[2022-02-11 09:17] oraNod commented on #153
I generally use "SSL/TLS" just because "SSL" is an established term and has more immediacy. Obviously when configuring security protocols you never want to recommend using SSL but TLS v1.2 or v.1.3. When referring to the crypographic protocols I think it should be acceptable to say "SSL/TLS". TLS is also an extension of SSL and not necessarily a completely distinct protocol so the current conventi

[2022-02-11 09:23] dfitzmau commented on #153
I agree with, @oraNod . This topic might not be a clear-cut. I posted a query in the EAP Internal group. This group has over 100 SMEs and some of them work on security components related to the SSL, SSL/TLS, TLS protocol :) . Hopefully, they can reply soon and provide some engineering input.

[2022-02-11 09:58] inoxx03 commented on #154
@bergerhoffer Yes, I believe that these terms should not be changed or replaced by alternative terms. As you say, in the context of Java `throw` and `catch` are terms that carry a specialized and reserved meaning. As such, they are not jargon, colloquialisms, or an example of "developerese", and their use in documentation (when referring to Java) is not bad style. If anything, I believe replacing

[2022-02-11 14:22] porueesq commented on #101
A proposed text.

For this text, I'm assuming that:
* We use _Development Preview_
* The page containing details about the scope of Development Preview is: https://access.redhat.com/support/offerings/developer/
* We must reach out to other teams (legal, marketing, etc) to confirm this text.

Text:

IMPORTANT:  {ProductName} {ProductVersion} is a Development Preview, which is subject to support lim

[2022-02-11 16:07] IngridT1 opened #157 "404 - Broken link"
This page [Guidelines for Red Hat Documentation](https://redhat-documentation.github.io/) has a broken link for the Supplementary Style Guide, although it calls the guide: Glossary of Terms and Conventions for Product Documentation, so obviously the whole page is out of date. We should update the page or hide it.

Here's the broken link's URL: https://redhat-documentation.github.io/glossary-of-ter

[2022-02-11 16:08] dfitzmau commented on #153
Hi @themr0c and all. Here's a link to what an engineer on the JBoss EAP said:

![ksnip_20220211-160438](https://user-images.githubusercontent.com/57954076/153626310-a84611af-8855-4d6f-9903-4afb9fde2f40.png)

Ties in exactly as @oraNod stated. Maybe we could still proceed with this addition and fine-tune the where and when to use such-and-such a term?

[2022-02-11 19:43] bergerhoffer commented on #147
@bredamc It's up to you! I think that you could safely submit a PR for the numbers I mentioned above, and we can tackle the others in separate PRs, if they need additional discussion. Or if you'd prefer to wait until after the meeting, that's totally fine too.

[2022-02-12 22:17] bergerhoffer commented on #153
Thanks a lot for posing this question to SMEs @dfitzmau!

Looks like we have a SSL/TLS entry (use it: yes) and an SSL entry (use it: no), but not a TLS entry. Also, the SSL/TLS entry lists "TLS" as an incorrect form.

So if we do want to propose TLS as an appropriate term on it's own, then I think we'd want to:
* Add a TLS entry
* Update the SSL/TLS entry to mention using "SSL/TLS" first, but can

[2022-02-13 05:01] stoobie commented on #153
@bergerhoffer @oraNod @dfitzmau  +1

[2022-02-13 14:18] cben commented on #101
https://access.redhat.com/support/offerings/developer doesn't look related?
IIUC that page is not about products with support limitations, rather sounds like _extra_ support/consulting for developers.

[2022-02-14 08:42] oraNod commented on #153
"Update the SSL/TLS entry to mention using "SSL/TLS" first, but can use "TLS" alone later" - On this point I think it would be good to have specific guidance like:

Use SSL/TLS at a high-level, such as in headings and abstracts, to establish context with encryption protocols.

When referring to protocols that you use to exchange cryptographic keys and secure network communication or other system i

[2022-02-14 11:55] inoxx03 commented on #157
Thank you for reporting this @IngridT1

The link to the guide should be: https://redhat-documentation.github.io/supplementary-style-guide

If we want to point specifically to the glossary section, then we can also use: https://redhat-documentation.github.io/supplementary-style-guide/#glossary-terms-conventions

It seems that the site in question (https://redhat-documentation.github.io/) is still a

[2022-02-14 13:18] stoobie commented on #157
:^D
@IngridT1 @inoxx03 @bergerhoffer @redhat-documentation/ccs-style-council
A few days ago I noticed this and created an issue and a PR to fix it. Currently awaiting merge. See https://github.com/redhat-documentation/redhat-documentation.github.io/issues/12 and https://github.com/redhat-documentation/redhat-documentation.github.io/pull/13.

[2022-02-14 14:43] jenmalloy commented on #156
@bergerhoffer Will do, thanks!

[2022-02-14 16:19] inoxx03 commented on #157
thanks @stoobie, the PR looks great!
Not sure who owns the [repo](https://github.com/redhat-documentation/redhat-documentation.github.io) or who has merge rights on it, either.

[2022-02-14 21:14] bergerhoffer commented on #157
Awesome thanks @stoobie! I have merge rights on that repo, so I can merge your PR there when it's ready.

I added two comments on the PR if you wouldn't mind taking a look.

[2022-02-21 18:14] bredamc commented on #156
@bergerhoffer I spoke to Jen about this item, and I'll make this change along with the other changes I've volunteered for in issue 147. I plan to work on these changes tomorrow, so that we can discuss the PRs at the meeting on Wednesday. I don't seem to be able to assign it to myself, so please feel free to assign it to me :)

[2022-02-21 18:52] bergerhoffer commented on #156
Sounds great, thanks @bredamc! I've assigned this issue to you.

[2022-02-22 15:24] bredamc commented on #156
Fixed in https://github.com/redhat-documentation/supplementary-style-guide/pull/161

[2022-02-22 16:08] bergerhoffer commented on #157
Closing this issue - the broken link on that page was fixed by https://github.com/redhat-documentation/redhat-documentation.github.io/pull/13.

[2022-02-22 16:08] #157 closed

[2022-02-22 16:51] bergerhoffer commented on #156
PR #161 has been merged - closing!

[2022-02-22 16:51] #156 closed

[2022-02-22 19:21] bredamc commented on #147
@bergerhoffer I've made a start! Is there a way to tag the PR as "work in progress" until it's ready for review?
https://github.com/redhat-documentation/supplementary-style-guide/pull/163

[2022-02-22 19:34] bergerhoffer commented on #147
@bredamc Awesome! And yes, you can add a `[WIP]` to the beginning of the PR title. If you can add labels, you could also add the "On hold" label.

[2022-02-23 11:34] emarcusRH commented on #145
IBM Style Guide: References to earlier or later versions
To state a requirement that includes earlier or later versions of a product, use the phrases **or earlier** to indicate earlier versions
and **or later** to indicate subsequent versions.

[2022-02-23 11:46] emarcusRH commented on #142
I am not an expert on Insights, but I did a little bit of research on the topic in order to link it to the RHV Administration Guide
- **Red Hat Insights** is the product
- all of the names listed above are components or services within Red Hat Insights, and also names of menu items or tabs in the Dashboard -  see [Insights Dashboard](https://console.redhat.com/insights/overview#SIDs=&tags=)
and se

[2022-02-23 13:27] oraNod commented on #145
@bergerhoffer and @emarcusRH Thanks, I believe we had discussed the IBM style guide conventions. It seems to me this issue is missing some nuances from the conversation we had but I'm unsure if it's worth going into too much detail. I'm happy enough to just close it. Thanks.

[2022-02-23 13:27] #145 closed

[2022-02-23 13:39] inoxx03 commented on #154
2/23/22 - After raising this point with the SSG group in our monthly meeting, we have agreed to defer to the IBM Style guide for guidance on the usage of the terms `catch` and `throw` in the context of Java programming.

I am closing this as a non-issue.

[2022-02-23 13:49] emarcusRH commented on #153
from my experience in the Cyber Security world (5 1/2 years), TLS is the term that should be used - it is the more advanced or newer form of the SSL protocol. When one is looking to see what the supported or required security protocol is, TLS + version number is the standard these days.
[TLS vs SSL](https://kinsta.com/knowledgebase/tls-vs-ssl/)

[2022-02-23 13:56] dfitzmau commented on #153
+1 Don's suggestion that ties in with the SME feedback.

[2022-02-23 16:58] bergerhoffer commented on #153
Thanks @dfitzmau! I added you as an assignee to this issue. That's fine to get the perspective of EAP's team, but it would probably be a good idea to contact SME(s) from other areas as well, to be sure. I'm not sure who else to suggest though.

[2022-02-23 17:07] dfitzmau commented on #153
I'll focus on JBoss EAP and maybe the runtimes team; anything outside this might be too much work with regards to chasing down who specializes in what on what product.

[2022-02-23 18:25] bburt-rh commented on #153
I'll see what else I can find out.

[2022-02-25 14:37] aireilly commented on #101
I drafted this this morning as a snippet in the openshift-docs repo before becoming aware of this open issue:

[code]

[2022-02-28 10:25] dayleparker commented on #101
Thanks for sharing @aireilly !

On the OCM side, we are still no closer to agreeing on wording to define a Developer Preview either. We are still discussing a definition in https://issues.redhat.com/browse/HAC-511 and the current proposal (not finalized) seems to be a shorter version of yours, @aireilly

_Developer Preview features are provided pre-release for customer feedback and should not be u

[2022-02-28 14:35] dayleparker commented on #101
Looking into this more (and speaking with Sherman Horton - @aireilly I hear you are having the same conversation :) ), I'm realizing there isn't a clear difference between Dev and Tech Preview, which is a bit contributor to why this hasn't been made official, although some teams have been using the term anyway.

Can we collectively push back against using the Dev Preview term until it is either de

[2022-03-01 08:27] stoobie opened #168 "Issue for collecting examples of introductions/abstracts (add yours)"
_This issue is a follow-up to #75._

#### This issue is for collecting examples of introductory sentences in preparation for a PR to add this information to the style guide.

***Particularly, we're looking for good intro paragraphs where it's difficult to come up with something useful to say that doesn't just repeat the heading.***

## The details:

After meeting with stakeholders in the Mod Docs

[2022-03-04 06:50] jafiala opened #169 "Add guidance for qualifying product, package, and component names"
We have no guidance in RH SSG or in IBM on qualifying product, package, and component names at first occurrence.

We should add what is the recommended practice, that is to qualify the name at first occurrence in a module, probably to the "Product names and version references" section.

[2022-03-11 20:40] IngridT1 commented on #168
Lorena Burcher and I have begun a Google doc with several good examples. It's a work in progress, but this is what we have so far.
https://docs.google.com/document/d/1CCg0svB4-cNjaqTAtcN9CeU-WiajivHBm7lmIgxQ4Eo/edit#

[2022-03-16 19:28] bergerhoffer commented on #169
@jafiala I think that this came from something out of the peer review initiative, but I can't remember exactly what. Can you provide some more information and examples of what you're requesting here?

[2022-03-16 19:52] bergerhoffer commented on #101
Adding a link to the OpenShift docs PR that @aireilly submitted, which has an updated snippet suggestion: https://github.com/openshift/openshift-docs/pull/42645

But I agree that we need to really agree on what the difference is between dev preview and tech preview before we can truly agree on the wording. Not sure how we can push this effort along, but it does seem to be coming up multiple places

[2022-03-17 10:16] max-cx opened #171 "Guidance on AMD64 vs x86_64"
The following guidance is incorrect and has to be changed:

![image](https://user-images.githubusercontent.com/78564304/158784899-f972a9cd-0114-465d-ba2f-df77a4d28d82.png)

`x86_64` and `AMD64` are not interchangeable. `x86_64` covers both `Intel 64` and `AMD64`. To rewrite `x86_64` as `AMD64` means telling readers (including those that use `Intel 64` for Red Hat products) that `Intel 64` does not

[2022-03-17 12:20] #144 closed

[2022-03-17 12:54] spank50 commented on #169
Does this refer to how we qualify the product name in the documentation matches the Red Hat product names as described in
Official Red Hat product and solution names list - Google Sheets
https://docs.google.com/spreadsheets/d/1DLS_lS3VKidgZIvcLmLp9BoiqptkvqHWfe1D5FD2kfk/edit#gid=1987148185

[2022-03-17 13:29] bergerhoffer commented on #169
If I remember correctly, it had something to do with clarifying what something is, like saying "the `<xyz>` utility" the first time, instead of just calling it `<xyz>`.

An example might be something like "You must the `sudo` command to" (instead of saying "You must use `sudo` to..."). But definitely need confirmation on this.

[2022-03-17 13:45] bergerhoffer commented on #171
@max-cx I see how this could look like it, but I don't think that this entry is trying to tell you to replace all instances of "x86_64" with "AMD64". The definition itself is saying that it is "an implementation" of x86_64. Not the only one.

However, I agree that we can make an improvement here to make it clearer. So here would be my suggestion:

* We add an entry for "Intel 64" (or whatever the

[2022-03-22 16:19] Amrita42 commented on #142
@inoxx03 is there some guidance or ref on ` terms that have been highlighted as relevant to Red Hat Insights`

[2022-04-14 08:27] dfitzmau opened #173 "Assess use of quotations and italics in the Red Hat Supplementary Style Guide (RHSSG)"
The IBM Style Guide provides specific guidance around the use of quotes and italics when producing documentation. See the _Highlighting by element_ section in the IBM Style Guide. Other notable sections include:

- Code and command examples
- Quotation marks
- Single quotation marks
- Emphasis

The RHSSG shows some inconsistency with the use of quotes and italics when compared to the recommended p

[2022-04-14 13:14] bergerhoffer commented on #173
@dfitzmau I know we discussed this in other PRs, but can you provide some specific examples from the SSG that are inconsistent, so that we can review each situation to see whether quotes or italics is appropriate for them?

[2022-04-18 15:44] bergerhoffer opened #175 "Move product-specific terms into a single A-Z term list"
As discussed at the February SSG meeting, we want to look into combining the product-specific term list with the general terms, to create a single alphabetical list of terms.

Reasons for doing this:
* A lot of people probably just ctrl+f to find terms, and might not notice that they've landed in a product-specific section.
* Several updates have been coming into the SSG that aren't necessarily sp

[2022-04-18 15:45] bergerhoffer commented on #175
I will pilot this update in time for April's SSG meeting.

[2022-04-18 16:29] bergerhoffer commented on #175
Pilot PR: #176

[2022-04-19 08:44] dfitzmau commented on #173
Sure:

Example 1:

Example 2:

Example 3:

[2022-04-25 14:46] bergerhoffer opened #177 "Guidance against using "foo" and "bar""
I've always heard against using the terms "foo" and "bar" (and "foobar") in our docs. But we can't find any official guidance in the ISG or SSG not using it.

It looks like an older version of the ISG print version had foo, foobar as terms to not use:

But the new PDF/online version of the ISG do not have this term listed at all. @lahinson was going to check in to see if she can find the history o

[2022-04-25 16:03] bergerhoffer commented on #177
+1 for not adding it to the SSG if the ISG will be adding entries.

Though I'd also be interested to know if we have any recommended alternatives that we could share.

[2022-04-25 16:37] #154 closed

[2022-04-25 16:38] bergerhoffer commented on #149
Closing as PR #148 was merged!

[2022-04-25 16:38] #149 closed

[2022-04-25 16:47] bergerhoffer commented on #101
@aireilly do you happen to have an updates with whatever happened with your proposed snippet? Just trying to see where we're stuck at with this/what we can do as next steps

[2022-04-25 17:18] bergerhoffer commented on #173
@dfitzmau thanks, that helps!

I feel like we have two situations to determine in the SSG, and I'm not sure if they'll be the same or different:

1. Defining the term, like in your above examples, such as:

2. Actually giving guidance on exactly what to write

My first thought would be to italicize the term when we're introducing its definition. And then when we're actually talking about how to wr

[2022-04-25 20:04] aireilly commented on #101
I don't have an update unfortunately. The next steps are unclear to me.

[2022-04-25 20:07] mportman12 commented on #173
@bergerhoffer Per the ISG's guidance, I agree that italicizing the first use of the defined term is correct.

[2022-04-25 20:16] bergerhoffer commented on #101
Thanks for the update @aireilly. It seems like we're struggling with people being able to actually nail down what it means to be dev preview as opposed to tech preview. And that it might be different per product.

I'm at a loss of how to move this issue forward. Seems like there needs to be an effort at a higher level across program teams to get on the same page on this.

[2022-04-26 08:04] dfitzmau commented on #173
+1 @bergerhoffer . I agree with your use cases for italics and quotes

How many votes/approvals do we need to get to convert this issue into a PR?

[2022-04-26 19:44] bergerhoffer commented on #173
@dfitzmau We have this on the agenda for tomorrow's SSG meeting, so we can see what others think. Since this would be a bit of a task to do a sweep, let's make sure that more than our normal 3 approvals are good with it before we start implementing anything.

[2022-04-26 20:48] bergerhoffer commented on #147
@bredamc I've taken a closer look at the rest and here are my thoughts on the ones that are left:

- (1) Yes, we definitely don't want to be duplicating terms that are already covered in the ISG (unless we are deviating from the suggested guidance). +1 for removing the duplicate terms you identified
- (5) I don't think I follow what you're recommending about KB/MB/GB being inconsistent. But I say

[2022-04-27 07:42] dfitzmau commented on #173
Thanks, @bergerhoffer .

[2022-04-27 10:52] bredamc commented on #147
Thank you, Andrea and Naomi!

I've reviewed your suggestions, Andrea:
(7). I've removed 7(c) ("_In the "Deprecated functionality" section, is it correct to say "Red Hat do not implement" (two occurrences), or should it be "Red Hat does not implement"?_ "), but 7(a) and 7(b) are still valid.
(12) I can create a PR with a suggestion, but I wonder why these sections are included at all? Are these ter

[2022-04-27 12:13] sterobin commented on #177
@bergerhoffer Since the best alternatives would be actual examples or at least real words,  I don't know if we need or should have global alternatives for terms to use in the SSG. I think leaving it with what the ISB says or will say is sufficient. If there's recurring confusion about it, I suppose we could just give a brief entry of basic examples where the writer uses real words instead of fooba

[2022-04-27 12:32] mportman12 commented on #177
@lahinson How about:
"Do not use. These terms are technical jargon and are sometimes used by developers in code."
Because the origin is debatable, I think banning the terms because of a possible profanity origin is besides the point - it's technical jargon and, as @sterobin said, falls in the unclear forms and abbreviations we should strive to avoid.

[2022-04-27 13:18] lahinson commented on #177
Thanks, @sterobin and @mportman12! I'll pass your suggestions over to the IBM Style Council.

[2022-04-27 13:40] bergerhoffer commented on #147
@bredamc Responses inline!

Good question. I don't know enough about these terms to know whether/where in RH docs they are used. But if they are included here, I would assume that someone had a need for them. But I would say that the best outcome would be for these terms to be in the ISG, if we want to ask them.

I would +1 the standardization of capitalizing the keys (especially since we don't al

[2022-04-27 17:16] bergerhoffer opened #180 "Capturing issues found during the reorg eval to follow up on later"
Capturing issues noticed during the reorg. Need to follow up after the reorg:

- [ ] Red Hat Data Grid mentions that this name is as of "7.3 and later", but Red Hat JBoss Data Grid says that it is used as of 7.3 and earlier. Need to confirm which one is actually used in 7.3, and adjust the other term as necessary.
- [ ] BxMS product name has changed and should be updated throughout its terms. Ping

[2022-05-05 12:55] dfitzmau commented on #173
Hi @bergerhoffer .

Just checking in with you on the outcome from this issue in the SSG meeting. Any decision made?

[2022-05-05 13:14] Srivaralakshmi commented on #177
Hi, @lahinson! Thanks for stepping up to pass the suggestions to the IBM Style Council. Any updates so far?
Interested to know about any recommended alternatives that we can use.
Thanks!

[2022-05-05 13:31] Srivaralakshmi commented on #171
Hi, @max-cx! Thanks for raising this issue. Can you please respond to @bergerhoffer' s suggestion?

Hi @redhat-documentation/ccs-style-council, this issue still needs more discussion; those with input please add to this GitHub issue thread to see if we can come to an agreement on what action to take. Please share your thoughts when you have free time 👍. Thanks!

[2022-05-05 13:48] Srivaralakshmi commented on #168
Hi @IngridT1, Thanks to you and Lorena for the work on the examples. Just checking with you for updates on the progress.

[2022-05-05 13:53] bergerhoffer commented on #173
There was mostly agreement on using italics for defining terms and using quotes later when telling people what to write or not write. But we didn't come to a complete decision on moving forward with it (kind of ran out of time in the mtg).

So before moving forward with doing a sweep, I think we want some more confirmed +1's (or objections) in this issue.

@redhat-documentation/ccs-style-council P

[2022-05-05 14:09] mportman12 commented on #173
+1 for this approach, but recommend waiting on updating the SSG glossary until after the product-specific reorg is finished.

[2022-05-05 14:17] mportman12 commented on #171
+1 for adding entries for Intel 64 and for x86_64. However, I think there's a larger discussion about what the correct terms for these architectures are. For example, should we recommend `Intel 64`, `Intel64`, `Intel 64-bit architecture` or `64-bit Intel architecture`? All of these are used inconsistently in RHEL documentation, at least.

[2022-05-05 14:17] Srivaralakshmi commented on #143
@bergerhoffer Thanks for taking this up :)

Any updates on the progress made so far? Thanks!

[2022-05-05 14:19] stoobie commented on #171
Here is Intel's guidance:

https://www.intel.com/content/www/us/en/architecture-and-technology/microarchitecture/intel-64-architecture-general.html

[2022-05-05 14:26] dfitzmau commented on #173
Thanks, @bergerhoffer . I like your suggestions, so I'll +1 to these also. We'll need to define a section for this in the SSG?

[2022-05-05 14:33] Srivaralakshmi commented on #2
Hi all, are there any updates on this issue?  Just trying to see where we're stuck with this/what we can do as the next steps. Thanks!

[2022-05-05 14:47] dfitzmau commented on #173
OK, thanks, @bergerhoffer . I just wonder if deviations will occur again in the future.

[2022-05-05 14:51] lahinson commented on #177
Hi @Srivaralakshmi! I haven't heard from the IBM Style Council yet, but I sent them an email this morning to check in. I'll let you know when I have an update.

[2022-05-05 14:58] Srivaralakshmi commented on #173
+1 to the suggestions of @bergerhoffer and @mportman12 for now.

[2022-05-05 14:59] Srivaralakshmi commented on #177
That's great! Sure. Thanks, @lahinson for the update :)

[2022-05-05 15:22] ndeevy commented on #173
+1 to @bergerhoffer's suggestion. Logical

[2022-05-05 15:44] porueesq commented on #173
According to the ISG:
![image](https://user-images.githubusercontent.com/43811485/166961003-2fce1b8c-cf5a-4e21-b6d6-48b8fd89af46.png)

Hence, the example provided above should be:

I think that using only quotes is simpler.

[2022-05-06 14:30] lahinson commented on #177
The IBM Style Council updated the [Word usage page](https://www.ibm.com/docs/en/ibm-style?topic=word-usage) with these changes:

- Updated the entry for "fubar" per @mportman12's suggestion
- Added an entry for "foo" that points to the "fubar" entry

Here's a screen cap of the new "foo" entry:

![Screen Shot 2022-05-06 at 10 25 53 AM](https://user-images.githubusercontent.com/102675557/167153305-d

[2022-05-09 12:39] mportman12 commented on #177
@bergerhoffer Because ISG has added an entry, can we close this issue without making changes on the SSG side? I think the ISG covered all of our concerns.

[2022-05-09 12:40] bergerhoffer commented on #101
Just got an email from Sherman Horton saying that there is an effort underway by Portfolio and Life Cycle Management to define dev preview and how it differentiates from tech preview. Sounds like the jury is still out on Developer vs Development.

No particular timeframe that I'm aware of, but at least there is something in the works.

[2022-05-11 11:26] stoobie opened #182 "Backend, back-end, or backend? Frontend, front-end or frontend?"
I don't know what IBM SG says, but...
- guidance from Google style guide is _backend_/_frontend_
- guidance from MS and Apple is "front end (n.), front-end (adj.) Note hyphenation of adjective."

The RH SG uses both (see [Release Notes](https://redhat-documentation.github.io/supplementary-style-guide/#release-notes)).

[2022-05-11 12:12] mportman12 commented on #182
From the ISG:
![Screenshot from 2022-05-11 08-09-29](https://user-images.githubusercontent.com/74915975/167846505-197f974b-204f-4e1d-8808-1321ff983eed.png)
![Screenshot from 2022-05-11 08-09-10](https://user-images.githubusercontent.com/74915975/167846514-1c26b352-8a99-4f58-baad-a735b94bf819.png)

TL;DR: ISG recommends using `back end`/`front end` and `back-end`/`front-end` as a noun and adjective

[2022-05-12 13:15] Srivaralakshmi commented on #171
Hi @max-cx! Thanks for your inputs.

Hi https://github.com/orgs/redhat-documentation/teams/ccs-style-council, WDYT? Please let us know your thoughts. Thanks!

[2022-05-12 14:45] stoobie commented on #182
Thanks, @mportman12 !

[2022-05-12 14:45] #182 closed

[2022-05-19 18:02] mportman12 commented on #171
I agree with @max-cx that we should label `x86_64` as "Use with caution" instead of outright prohibiting. To borrow a recent example from my own documentation, I needed to use `x86_64` for a repository ID:
![Screenshot from 2022-05-19 13-54-26](https://user-images.githubusercontent.com/74915975/169366233-3f34e5bd-349f-46fd-bcfd-3705ee556ab2.png)

[2022-05-19 18:16] bergerhoffer commented on #177
Sorry for the delay all, this sounds great. Thanks @lahinson for connecting with the IBM style council to have them make those updates!

Closing this issue.

[2022-05-19 18:16] #177 closed

[2022-05-25 18:15] mportman12 commented on #168
@IngridT1 Following up on this. Do you and Lorena have any updates?

[2022-05-25 18:17] #153 closed

[2022-05-25 18:34] mportman12 commented on #2
@bergerhoffer @redhat-documentation/ccs-style-council any updates on whether this issue is still relevant? Especially per the Customer Portal doc UI overhaul.

[2022-06-02 20:46] bergerhoffer commented on #2
@IngridT1 do you think the core question for this issue is still something we should investigate (trying to standardize on columns for parameter tables), or should we close this issue?

[2022-06-03 17:50] IngridT1 commented on #2
@bergerhoffer The new portal UX does help, but this is partly about using a standard format across CCS. At least, that's how Alex McLeod originally presented it to me.

[2022-06-03 18:01] IngridT1 commented on #168
Not really, but your ping has put it back on our radar.

[2022-06-09 14:59] mnsteven opened #185 "User-replaced values format is inconsistent with IBM's style guide and technically incorrect"
I have recently become aware that our supplementary style guide notes that user-replaced values in format and code should be enclosed in angle brackets and italicized, both.  I ask the team to reconsider this, as it is idiosyncratic, inconsistent with IBM's style guide, and -- in the case of code examples -- simply wrong in a technical sense as it implies that the angle brackets are literals.

Thi

[2022-06-10 15:17] mportman12 commented on #185
@mnsteven I think this is a much larger discussion for the group, but one quick note: Supplementary Style Guide takes precedence over IBM Style Guide - in fact, the SSG mostly contains style guidelines that differ from ISG.

[2022-06-10 15:18] mportman12 commented on #143
@bergerhoffer Any updates on this issue?

[2022-06-13 13:47] EricPonvelle opened #186 "Remove references to cost from the documentation."
In the ISG, the term "free" is to be avoided with regards to costs, and instead, a phrase like "no initial cost" was suggested. When following up on the proper replacement, the consensus was that we should purge any references to cost at all. Costs should purely stay with other channels that can change faster than documentation.

I propose we add a section to the SSG that states that we do not men

[2022-06-13 14:06] bergerhoffer commented on #185
Hi @mnsteven - Miriam is correct, the SSG takes precedence over the ISG and only includes things that are not covered by the ISG, or differ from the guidance in the ISG.

See this section in the SSG that clarifies this: https://redhat-documentation.github.io/supplementary-style-guide/#_how_to_use_this_guide

The replaceable value format that you see recommended in the SSG was a result of a very lo

[2022-06-13 14:21] bergerhoffer commented on #2
Thanks Ingrid!

@mcljot do you think that this issue is something still worth pursuing, or should we close this issue?

[2022-06-13 15:17] mnsteven commented on #185
Since the issue was discussed and evaluated in great depth, perhaps somebody can remember the arguments for including literals in a code block that are not actually part of the code?  There are times when angle brackets are actual operators (greater than, less than) -- how do you distinguish?

If sumtotal < <_partfotal_> and <_parttotal_> > semitotal...

[2022-06-13 15:59] bergerhoffer opened #187 "Standardize on "disconnected" terminology for OpenShift (possibly beyond)"
In the OpenShift docs, we have used both "disconnected" and "in a restricted network" to describe clusters that have some degree of being separated from the public internet access.

Per OpenShift SMEs, they prefer the term "disconnected" because that's the term they've found our customers are using to find information on it.

We can consider standardizing on this as an OpenShift-specific term, but

[2022-06-13 16:00] bergerhoffer commented on #187
Updating per the thread in the CCS Style Council gchat room that Ansible uses "disconnected", and RHACS uses "offline mode".

[2022-06-13 16:21] mnsteven commented on #187
It's not really part of HA cluster configuration and administration to talk about whether the cluster is disconnected from the Internet -- the cluster as a whole is on a private network and cluster communication takes place among the nodes of the cluster. An individual cluster resource running on a particular node might be connected to the Internet (and likely is), and if that goes down (in which

[2022-06-13 17:08] pwright commented on #187
AMQ interconnect uses 'Restricted Environment' (later defined as an environment which has no or limited internet access)

[2022-06-14 12:28] bergerhoffer commented on #185
IMO users would need to take the context into consideration. In places where angle brackets are used as actual operators, I would think that the spacing would be important (as in, it should be written as your first example, and not your second).

Also, the addition of italics is another important piece that distinguishes the literal angle bracket from an angle bracket that is part of a replaceable

[2022-06-15 22:10] mnsteven commented on #185
As noted, an Italicized angle bracket is visually indistinguishable from a non-italicized bracket.  I've checked this in a few places and formats.

It is perfectly legal code to include no spaces around an operator.  I am not comfortable with a style instruction that tells programmers they can't write legal code because of our style. There are coding style guidelines a programmer follows, but I do

[2022-06-15 23:04] mnsteven commented on #185
In most cases, is perfectly legal code to include no spaces around an operator.  There are coding style guidelines a programmer follows, but is it the function of our style board to set those?

An italicized angle bracket is indistinguishable from a non-italicized angle bracket. I have prepared a document with three examples that show what I think the problem is here.  These are actual examples fr

[2022-06-17 14:10] porueesq commented on #187
@redhat-documentation/ccs-style-council So far, we have these terms:

- disconnected
- restricted network
- offline mode
- air-gapped environment (seen in other documentation instances)

As per this comment (https://github.com/redhat-documentation/supplementary-style-guide/issues/187#issuecomment-1154124173), looks like it's important to distinguish between a resource that has no Internet access

[2022-06-17 14:19] porueesq commented on #186
Referring to the IBM Style Guide:
![image](https://user-images.githubusercontent.com/43811485/174316075-547cdc4e-ca1d-4646-8a30-aa08015ffcf4.png)

Additionally, _free_ according to the FSF [0]:

With these two examples, we can see that the term _free_ is semantically overloaded.

@redhat-documentation/ccs-style-council Can we create a PR for this?

[0] https://www.fsf.org/about/what-is-free-softwa

[2022-06-21 15:07] mnsteven commented on #187
As  per Comment #187. which is mine, it seems to be an issue that affects only the HA cluster documentation.  In that case the issue is that for HA cluster the important thing is is not that a resource is disconnected from the internet but that a resource has moved from one cluster node to another -- which could happen for a variety of reasons, a disconnect from the internet being only one of them

[2022-06-22 14:01] #151 closed

[2022-06-28 18:58] mportman12 opened #188 "Capturing issues found during the reorg eval: AMQ"
Capturing AMQ issues noticed during the reorg. Need to follow up after the reorg:

- [ ]  Review AMQ terms for any that say "In Red Hat AMQ" but might be better as something more generic like "In messaging" or "In JMS" or something. For example, "queue", "producer", "consumer", etc. Note that "destination" currently uses "In JMS".

[2022-06-28 18:59] mportman12 opened #189 "Capturing issues found during the reorg eval: Ceph"
Capturing Ceph issues noticed during the reorg. Need to follow up after the reorg:

- [ ]  Evaluate Ceph terms to see if any are general enough to stand alone, or to be removed completely. (bucket, etc). Also there is a reference to version 1.3 that should be checked.
- [x] Fix broken link in Ceph's "pool" entry.

[2022-06-28 19:00] mportman12 opened #190 "Capturing issues found during the reorg eval: Foreman"
Capturing Foreman issues noticed during the reorg. Need to follow up after the reorg:

- [ ] The Foreman entry mentions a BZ to get a UI element changed, but the BZ was closed as WONTFIX. If it's still an issue, remove the reference to the BZ. If it's not still an issue, remove the guidance on it all (last 3 sentences)

[2022-06-28 19:01] mportman12 opened #191 "Capturing issues found during the reorg eval: Fuse"
Capturing Fuse issues noticed during the reorg. Need to follow up after the reorg:

- [ ]  Need to make changes to the Fuse terms that were suggested in the spreadsheet. This includes things like removing a few entries, renaming items, etc.

[2022-06-28 19:05] bergerhoffer commented on #187
Updating with some more feedback/quotes on this subject from the CCS gchat room:

* "The programs I've worked on have used "disconnected." I've only heard "air-gapped" between folks internally." [ahoffer add: this one was for Ansible and Satellite]
* "I think "air-gapped" mostly refers to offline backups"
* "I am working on an Ansible document for offline installation and we are using 'disconnecte

[2022-06-28 19:08] mportman12 opened #192 "Capturing issues found during the reorg eval: General"
Capturing general and minor issues noticed during the reorg. Need to follow up after the reorg:

- [x]  SSO terms are missing the (\<class>) designation
- [x] OCS terms are missing the yes/no/with caution icons
- [x] The link to the Microsoft Azure glossary is broken. I think it should probably be changed to https://docs.microsoft.com/en-us/azure/azure-glossary-cloud-terminology
- [x]  Terms that

[2022-06-28 19:10] mportman12 opened #193 "Capturing issues found during the reorg eval: IdM"
Capturing IdM issues noticed during the reorg. Need to follow up after the reorg:

- [ ] Certificate authorities description goes into probably too much specifics to Red Hat Identity Management for the SSG. Probably remove everything except the first sentence. Actually... there are several general ones like this. Review these other entries as well: Apache web server, cross-forest trust, domain con

[2022-06-28 19:11] mportman12 opened #194 "Capturing issues found during the reorg eval: JBoss"
Capturing JBoss issues noticed during the reorg. Need to follow up after the reorg:
- [x]  There is a TODO under "JBoss Way" - needs xrefs to other entries
- [x]  Red Hat Data Grid mentions that this name is as of "7.3 and later", but Red Hat JBoss Data Grid says that it is used as of 7.3 and earlier. Need to confirm which one is actually used in 7.3, and adjust the other term as necessary.

[2022-06-28 19:13] mportman12 opened #195 "Capturing issues found during the reorg eval: OpenShift"
Capturing OpenShift issues noticed during the reorg. Need to follow up after the reorg:

- [ ]  ~~Some OpenShift terms were general, but still had some OCP-specific info. Consider whether those should just be removed, for example: image~~
- [x]  Does OCS need to be updated to new name of ODF?
- [ ]  "OpenStack services" isn't actually a term, but is guidance on how to write them generically. I had

[2022-07-05 17:45] nalhadef opened #196 "Use nbsp to keep the words "Red" and "Hat" together"
Currently, the IBM Style Guide and the Red Hat Supplemental Style Guide do not advise us to separate "Red" and "Hat" with a non-breaking space. Use of a NBSP keeps both halves of our name together on one line, avoiding possible weakening of our trademark.

Shall we add this to one of the style guides (This must have been in one of the guides or peer review documents at one point. I'm not sure how

[2022-07-05 18:01] mportman12 commented on #196
This blog post from 2016 also mentions a requirement to use non-breaking spaces between products and version numbers (e.g. RHEL 8).
https://source.redhat.com/groups/public/curriculum-team/jb421/mw421_wiki/common_spelling_and_grammar_errors

[2022-07-06 07:42] daobrien commented on #196
https://stylepedia.net/style/5.1/#nonbreaking-spaces covers this. Also between values and units (64{nbsp}GB). There's probably some other cases but I can't think what they are off the top of my head.

Just FYI that blog post is really old and probably contains outdated material.

[2022-07-06 11:48] rolfedh commented on #196
See thread here https://coreos.slack.com/archives/C0218RXJK5E/p1657098402656789

[2022-07-08 14:29] bergerhoffer opened #198 "Add "customer" to the glossary"
IBM uses "client" and Red Hat uses "customer" (per the upcoming RH section in the IBM Style Guide). Let's add "customer" to the SSG.

[2022-07-14 14:53] jeana-redhat opened #199 "SSG requires "through" for numerical ranges, request to revise this guidance"
The supplementary style guide [says](https://redhat-documentation.github.io/supplementary-style-guide/#_t
):

Contrast with IBM [guidance](https://www.ibm.com/docs/en/ibm-style?topic=measurement-numbers#ranges):

In the opinion of both myself and other members of the OCP docs team, using a dash to indicate a range of numbers is infinitely more readable for us, and likely would be for anyone who ha

[2022-07-18 13:08] maxwelldb commented on #199
h/t @dfitzmau for this, but this guidance might be a good accessibility tweak. If we can't verify that screenreaders interpret number ranges w/dashes successfully, I strongly prefer SSG here.

[2022-07-18 20:07] mportman12 commented on #199
@jeana-redhat The [PR](https://github.com/redhat-documentation/supplementary-style-guide/pull/1) you cited appears to be one of the initial commits to create the SSG in GitHub, so I don't think it's particularly notable that no explanation was given about the `through` entry.

I dug into the ISG entry and found this from the ISG History page for November 2021:

While this info doesn't provide clar

[2022-07-19 08:09] dfitzmau commented on #199
I found this entry in the Chicago Manual of Style:

Perhaps this paragraph will clarify the when question?

[2022-07-26 14:42] bergerhoffer commented on #175
Closing, as #176 has been merged :tada:

[2022-08-08 16:56] bergerhoffer commented on #180
Closing this parent issue since items have been broken into grouped child issues.

[2022-08-08 16:56] #180 closed

[2022-08-08 17:14] bergerhoffer commented on #198
Opened #202 to add customer.

[2022-08-08 17:17] bergerhoffer commented on #187
After further discussion, this is likely a difficult term to try to standardize on across products. For now, will add "disconnected" as an OpenShift-specific term. We can always reopen if we think it's worth trying to do a wider reach/standardization.

[2022-08-09 17:02] bergerhoffer commented on #198
Closing, since #202 has been merged!

[2022-08-09 17:02] #198 closed

[2022-08-16 15:13] lahinson commented on #195
Hi @bergerhoffer - I'm happy to help with this one, but I don't seem to have access to assign it to myself.

[2022-08-16 19:46] bergerhoffer commented on #195
Thanks @lahinson I assigned it to you!

[2022-08-18 07:29] michelle-purcell opened #206 "Add guidance for the correct capitalization and short form for referring to basic authentication"
### Problem
In Red Hat customer-facing documentation the term "basic authentication" is capitalized inconsistently as outlined in the examples below. Guidance is needed for when to use or not use each variation.

Lowercase **_basic authentication_** is the most commonly used across Red Hat docs, especially when referring to the authentication method in general. All lowercase is also preferred by t

[2022-08-23 06:09] Amrita42 commented on #143
@bergerhoffer Are there any updates on this issue ?

[2022-08-23 15:20] bredamc commented on #191
@bergerhoffer I can take this one -- can you please assign it to me? Thanks :)

[2022-08-24 08:40] dfitzmau commented on #194
Follow-up PR: https://github.com/redhat-documentation/supplementary-style-guide/pull/207

[2022-08-24 14:23] bergerhoffer commented on #194
Reopening until the PR is merged (just so we don't lose track of it)

[2022-08-24 16:31] jherrman opened #208 "Formatting recommendations for long commands in codeblocks?"
Currently, for commands that would exceed the width of a codeblock on the docs page, we generally use the no-wrap parameter to make the codeblock horizontally scrollable. This has a number of advantages over segmenting long commands over multiple lines (through backslashes), including:

- Easier and more reliable copy-pasting
- Better use of screen space
- Avoiding issues with codeblocks wrapping

[2022-08-26 16:14] rolfedh opened #212 "Rename `master` branch to `main`"
As part of Red Hat's initiatives to remove problematic language, we should rename `master` branch to `main`.
See https://github.com/github/renaming for instructions.

[2022-08-30 15:35] michelle-purcell opened #213 "Can we revisit the word-usage guidance on plugin (noun)?"
![image](https://user-images.githubusercontent.com/92924207/187479099-71ee86d8-b87e-4970-99d6-9d9c3cb3fe58.png)

**Problem:**

“Plugin” and “plug-in” (noun) are used synonymously in published technical documentation online.

Red Hat and IBM styles favor the hyphenated form, whereas many of our other integrated technologies and developer-type community projects prefer 'plugin' (see google example b

[2022-08-30 15:47] lahinson commented on #213
@michelle-purcell The co-chairs of the IBM Style Council meet periodically with a few writers and editors from Red Hat to discuss issues like this one. I think the next meeting is 9 September. Would you like me to add this item to the agenda? I can also ask for an invitation for you to join, if you like.

[2022-08-30 16:06] bergerhoffer commented on #212
We did this rename in the peer review repo a few months ago, though that was GitLab.

I don't have any objections to doing this rename here. The only part I'm unsure of is whether our GitHub Pages config still works (or if there are any config changes we'll need to make).

We can discuss whether we want to do this at tomorrow's SSG meeting

[2022-08-30 16:10] bergerhoffer commented on #185
This was discussed at the 29 June SSG meeting. Since the replaceable value issue was researched and discussed at great length when it was added to the SSG, we agreed that this isn't something that we should revisit unless there is customer confusion or a true need. Closing this issue.

[2022-08-30 16:10] #185 closed

[2022-08-30 16:14] bergerhoffer commented on #186
@EricPonvelle the SSG council agreed that we should leave out cost references in product documentation. Would you be up for submitting a PR to add a new section for this to our style guidelines? If so, we can provide assistance with how/where if needed. Thanks!

[2022-08-30 16:40] michelle-purcell commented on #213
@lahinson - Thank you, Laura. It would be great if you could raise this. I will try to attend the discussion if I can. Do let me know if you need any further information or examples. :-)

[2022-08-30 16:54] mnsteven commented on #185
When you say that this was discussed at that meeting, do you mean people actually looked at example 3 in my attachment and decided that was ok, or that the discussion was just "we will not revisit this"? From what I can tell, the initial discussion was about a replacement value in a format statement, but not within a code example itself.  Those are separate issues.

[2022-08-30 16:58] bredamc commented on #213
@michelle-purcell As a workaround, you could replace the problem word with a {plugin} attribute, and define that attribute to have the value "plugin" upstream and "plug-in" downstream?

[2022-08-30 17:22] michelle-purcell commented on #213
@bredamc - Thank you Breda for the great idea.

Before we go down the route of attributes, we'd like to see if there's a simpler way, more so for our external community contributors who are not asciidoc tech writers and might be discouraged to contribute to the upstream docs if they see lots of different attributes for word usage. We already think we will have many attributes for product and platf

[2022-08-31 11:09] sheilamjones commented on #213
Thanks @michelle-purcell for raising this. +1 to your comments that though 'plug-in' is said to be the more grammatically correct form, it also seems to be the more  'old-fashioned' form of the word. I found similar discussion online with similar conclusions, in that "plug-in" is still listed as more grammatically correct form but that usage has evolved to "plugin" and this is more widely used par

[2022-08-31 12:07] michelle-purcell commented on #213
@sheilamjones - Thank you Sheila. Great example.

[2022-08-31 13:51] dfitzmau commented on #173
Thanks, @bergerhoffer .

I created the following PR: https://github.com/redhat-documentation/supplementary-style-guide/pull/215

[2022-08-31 14:44] michelle-purcell commented on #213
Another good discussion on the topic from one of our lead SMEs: https://grammarhow.com/plugin-plug-in-or-plug-in/

[2022-08-31 17:46] leswilliams44 opened #216 "Consolidating technology preview guidance"
Many CCS doc teams use release notes to talk about technology preview content, but there are times when a writer will include technology preview content in the doc to make it clear that the new feature is not supported. Depending on the nature of the changes, there could be several (many?) places that need to call out the technology preview rather than hope the reader has found that release notes

[2022-09-02 09:09] dfitzmau commented on #173
Updated glossary entries for italics and quotes us is captured through the following PRs:

- A-F: https://github.com/redhat-documentation/supplementary-style-guide/pull/217

[2022-09-08 13:56] max-cx opened #220 "Project and to project?"
Clarify/allow/disallow usage of the verb `project` as part of the https://redhat-documentation.github.io/supplementary-style-guide/#project entry.

See my comment https://github.com/openshift/openshift-docs/pull/49201/files#r965890729 for the reasons for raising this issue.

[2022-09-09 14:55] lahinson commented on #213
@michelle-purcell In the IBM Style/Red Hat meeting this morning, I brought up your question about plug-in. The IBM Style council co-chairs couldn't think of a reason to continue hyphenating the term, but they are bringing the issue to the rest of the council, including the IBM Terminologist, to find out whether there's a good reason to keep the hyphen. I'll keep you posted as I know more.

[2022-09-09 15:24] bergerhoffer commented on #216
If the PR goes through where I add new categories under the style section, I think that we could add a whole new section for this. For example, we will have a whole section for release notes.

I say that we add a top-level category, where we can add this technology preview section, and we can potentially in the future expand if we want to add more support level information, like Dev preview.

I wo

[2022-09-09 17:03] leswilliams44 commented on #216
Thanks, @bergerhoffer

[2022-09-12 16:50] bergerhoffer commented on #216
@leswilliams44 So I gave this a little more thought. And the only other thing I came up with is that maybe the new "Legal" section I'm proposing in PR #221 could be named "Legal and support" to also house this style entry. Or we could keep them as two separate categories "Legal" and "Support". wdyt?

Or @redhat-documentation/ccs-style-council thoughts?

[2022-09-12 16:56] bergerhoffer commented on #220
So I see the issue here, and I agree in the above PR that it's best to avoid using the verb "project" to avoid confusion with the noun "project" that is used frequently throughout the OpenShift docs.

However, I'm uncertain as to whether we really should add an entry to avoid the verb "project", since it's such a special case, and not technically wrong. Would be interested in hearing what other @r

[2022-09-12 16:59] bergerhoffer commented on #212
Discussed in the 31 August SSG meeting and there were no objections to renaming the `master` branch to `main`. We should also rename `master.adoc` to `main.adoc` while we're at it.

We'll just need to come up with a plan to cause as little disruption as possible.

[2022-09-12 17:10] bergerhoffer commented on #208
We discussed this in the 31 August SSG meeting. We didn't really come to any conclusions here though. Since there seems to be a lot of factors, like what features the portal will support (copy button) or how the portal formats code blocks. And that these things could change.

@jherrman We left an opportunity for people to continue the discussion here in this issue, so we can leave some time for ot

[2022-09-12 18:18] lahinson commented on #216
@bergerhoffer I think I'd keep them as separate sections, but I don't feel too strongly about it.

[2022-09-13 18:44] bergerhoffer commented on #216
@leswilliams44 Looks like the consensus is to add a new category file titled "Support" with a subsection for Technology Preview features. I recommend adding this section next to the new "Release notes" category (once my PR is merged - hopefully soon).

[2022-09-14 13:56] jherrman commented on #208
@bergerhoffer that's right. There's currently far too many variables and future unknowns to come up with reasonably compact and reliable set of recommendations. So, the best course for the moment seems to be leaving this in the discretion of individual writers.

Nevertheless, I would recommend that folks who do divide their long commands into multiple lines also set up no-wrapping for the codebloc

[2022-09-15 11:12] mjahoda commented on #216
I am adding the guidelines used by the RHEL documentation team [1].

I am also wondering why we use capitalization that is not consistent with other doc types [2]:
- Bug fix
- Known issue
- Deprecated functionality
- but Technology Preview

[1] https://source.redhat.com/groups/public/ccs/rheldocslandingpage/rhel_documentation_master_page_wiki/rhel_release_notes_ccs_guidelines_for_writers#jive_cont

[2022-09-19 18:16] bergerhoffer commented on #216
This is because (as far as I'm aware) Red Hat's offering of a "Technology Preview" feature is officially capitalized that way. It's not just specific to the release notes doc text.
particular to the
That is seen everywhere that I'm aware of, both in the snippet we use across docs (https://source.redhat.com/groups/public/ccs/ccs_wiki/template_and_guidelines_for_documenting_technology_preview_featur

[2022-09-19 18:17] bergerhoffer commented on #216
@leswilliams44 Just FYI that TOC reorg PR has been merged, so whenever you (or someone) adds the new "Support" category/file, I'd say that it can go right above the "Release notes" section: https://redhat-documentation.github.io/supplementary-style-guide/#release-notes.

[2022-09-19 19:01] bergerhoffer commented on #208
@jherrman I agree about leaving this up to the discretion of the writer then. Do you think it's worthwhile to add the recommendation of the options=nowrap, etc. to the SSG? Or just close this issue? Or actually, maybe it would be more appropriate in the asciidoc writing guide: https://redhat-documentation.github.io/asciidoc-markup-conventions/. wdyt?

[2022-09-19 19:15] bergerhoffer commented on #186
Closing, since PR #214 added this in to the SSG.

[2022-09-19 19:15] #186 closed

[2022-09-19 19:16] bergerhoffer commented on #142
@inoxx03 can you confirm whether we still need to add these terms, and if so, raise a PR? Or see if someone from the Insights team can raise one?

[2022-09-20 06:57] Amrita42 commented on #142
I need some clarity on the query that I have raised to take this issue further (into a PR). I am ok with someone else taking this up too :)

[2022-09-20 12:40] jherrman commented on #208
@bergerhoffer , I think the adoc markup conventions doc is meant to be fairly concise and high-level, and adding to it writing minutiae like this would blow it up and dilute it quite badly. Instead, I think the best place might be our [adoc training book](https://ccs-internal-documentation.pages.redhat.com/AsciiDocTutorialEp2/book/). In fact, [I've already added it](https://gitlab.cee.redhat.com/c

[2022-09-20 13:38] jherrman commented on #208
@cfbryan , I took a look through our docs and no-wrap really seems to be configured for codeblocks by default! :-O Is this perhaps a new setting that came with the Jupiter stylesheets change?

I know for a fact that not too long ago, it was a problem to get no-wrap to work even when specified (see e.g. [CCSOPS-238](https://issues.redhat.com/browse/CCSOPS-238)), so having it work without the need t

[2022-09-20 13:45] cfbryan commented on #208
That seems probable. I'm glad we finally gave you a full resolution to that ticket from 2019!

[2022-09-20 14:33] jherrman commented on #208
@cfbryan thanks for the confirmation, and for implementing this improvement :-) It will definitely make the lives of our writers easier, our source code lighter, and our docs better looking :-)

[2022-09-20 14:49] cfbryan commented on #208
I'm happy to provide the information, but the design and implementation was all the team. I'm glad it makes folks lives easier!

[2022-09-20 17:13] bergerhoffer commented on #208
Great thanks @cfbryan for the details! It sounds like we're in agreement that we don't need to make any updates to the SSG for this item so I'm closing the issue. Feel free to reopen if there is more discussion that is needed!

[2022-09-20 17:13] #208 closed

[2022-09-20 18:14] #143 closed

[2022-09-20 18:17] bergerhoffer commented on #171
We've talked about this a bit at some of the SSG meetings. And we agree that we need some clarification, but that we need some assistance from some more SMEs (across products probably). Not sure if anyone has any good SME contacts that they can reach out to for some more input?

[2022-09-20 18:21] bergerhoffer commented on #196
This suggestion makes sense to me, but I know that we do not do this on OpenShift (and I don't think we did when I was on EAP).

Does anyone work on product docs in CCS that uses a {nbsp} in between all instances of "Red" and "Hat"? I'd like to know how many currently do, and if so, how they do it consistently (attribute?).

[2022-09-20 18:27] nalhadef commented on #196
Hi, Andrea.

We use Red<nbsp>Hat in the CPaaS documentation. We type it in each time. An
attribute is a good idea, though!

On Tue, Sep 20, 2022 at 2:23 PM Andrea Hoffer ***@***.***>
wrote:

[2022-09-20 18:38] bergerhoffer commented on #199
So @mportman12 is correct that this "through" guidance wasn't something that we (CCS) came up with and added. It came in during the initial port/creation of the SSG, where we did pull in a lot of the terms from stylepedia.net. So that is where the guidance would have originated from.

The SSG entry in question here is a glossary entry [1], but is really acting like style guidance.

But based on wh

[2022-09-20 18:39] bergerhoffer commented on #196
Thanks @nalhadef! Is it actually `Red{nbsp}Hat` (for AsciiDoc)?

[2022-09-20 18:45] nalhadef commented on #196
Yeah. I do better with autofill! Thanks!

On Tue, Sep 20, 2022 at 2:39 PM Andrea Hoffer ***@***.***>
wrote:

[2022-09-20 22:24] daobrien commented on #199
To which case of "through" in the RH guide are you referring? If it's incorrect (deviates from IBM for no good reason) then we need to update it. Thanks

[2022-09-21 13:58] bergerhoffer commented on #199
@daobrien The "through" entry being discussed in this issue is the one here in the supplementary style guide: https://redhat-documentation.github.io/supplementary-style-guide/#through

[2022-09-21 15:54] michelle-purcell commented on #213
@lahinson @bergerhoffer - Don't know how I missed this update?!!
That is great news. Thank you so much for raising this and for the update :100:

[2022-09-21 20:22] bburt-rh commented on #220
I agree with @max-cx and @bergerhoffer that when used together, the two can be potentially confusing, and we should avoid "project" for this reason. The linked PR is an interesting case because the verb "project" as used in the PR does not seem to be correct usage for the context: I don't think that data can be "projected". I've heard of data being sent or data being broadcast or data being stored

[2022-09-21 20:28] bburt-rh commented on #212
@bergerhoffer Where do we stand with this issue? What do we need to do to come up with a plan? I'm happy to drive this one if needed.

[2022-09-21 20:45] bburt-rh commented on #206
@michelle-purcell I agree that we need to add guidance for this so that we're consistent across all RH docs. What are you proposing as the standard?

We could use "basic authentication" and justify it for a couple of reasons
- This is the most common use I've seen in RH docs already (thus, path of least resistancd).
- The W3C and original HTTP 1.0 spec use it in lower case on these pages:
- - http

[2022-09-22 02:06] daobrien commented on #199
Thanks @bergerhoffer I thought you were referring to an entry in the RH Style Guide that was somehow incorrect.
cheers

[2022-09-22 15:21] mmuehlfeldRH opened #224 "Man page references in "additional resources""
Do we have a CCS-wide rule how to write man page references in "additional resources" sections?

* `sudoers(5)`
* `sudoers(5)` man page
* The `sudoers(5)` man page
* ...

Minimalists write only the man page name and chapter number. Other writers append "man page" to make clear what it is. However, at least for me, the latter feels incomplete without article. ...and we have more styles in our docs.

[2022-09-22 15:34] bergerhoffer commented on #224
I don't have personal experience with referencing man pages in additional resources section, but I think that specifying "man page" is important. And that if you're going to have that, then the "the" in front makes sense. So my vote would be for the third option of:

* The `sudoers(5)` man page

[2022-09-22 15:37] bergerhoffer commented on #220
I really like the suggestion of adding general guidance of avoiding homographs in close proximity, with a list of examples. What do others think?

[2022-09-22 15:40] bergerhoffer commented on #212
@bburt-rh I think we should be able to take the plan I created for the GitLab peer review repo for this same effort and adapt it for SSG/GitHub (https://docs.google.com/document/d/1u2d4rAoR9iGt3S1-7-EQgx3j_JG6xynjn0dMuSKpz2E/edit)

I can take a stab at making a new version for the SSG today, and then tag you and the rest of the council for review.

[2022-09-22 15:50] max-cx opened #225 "Template for the deprecation notice in the release notes section"
I'm facing an issue with the current wording of the first and second sentences of the template for the deprecation notice in the section about release notes:

![image](https://user-images.githubusercontent.com/78564304/191792647-ebe40540-7125-4b7e-bc91-4b7a77f4975c.png)

Typically, we're writing the release notes in relation to the current release. This means that more often than not, and it's tru

[2022-09-22 15:57] bergerhoffer commented on #212
@bburt-rh would you mind taking a first look at it? https://docs.google.com/document/d/1IL1dpMD6N0lBskOBpJo-j3ap6huMjyefnpMxexwN1co/edit

The only thing left is adding steps for what people need to do if they have any branches/PRs in progress. I don't think we'll ever get to a point where we have 0 open PRs, but we can try to  do it when there aren't too many.

But I'm not positive if we'll just b

[2022-09-22 15:59] bburt-rh commented on #225
@max-cx If I understand you correctly, for Che and Dev Spaces, when a feature is deprecated in a release, then support for the feature is also simultaneously dropped as of that release. Is this correct?

[2022-09-22 16:01] bergerhoffer commented on #199
@daobrien Nope, the issues in this repository are all about the RH supplementary style guide used by CCS.

[2022-09-22 16:08] bburt-rh commented on #224
+1 to what @bergerhoffer  says.

I think we should add this guidance (3rd option) to the SSG. There's nothing about man pages in the ISG, btw.

[2022-09-22 16:11] max-cx commented on #225
I see some context here: https://learn.microsoft.com/en-us/dynamics365/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.

[2022-09-22 16:15] max-cx commented on #225
I see some context in https://en.wikipedia.org/wiki/Deprecation.

[2022-09-22 16:16] max-cx commented on #225
Let me check with the SME who asked for the latest deprecation notice and ask them what they meant by deprecating that feature and whether they are still offering support and bug fixes for it in the current release, that is the release in which they deprecated the feature.

[2022-09-22 16:19] bburt-rh commented on #220
If people agree that a new entry for homographs would be a useful addition, here's some proposed text for an entry:

[code]

[2022-09-22 16:22] bergerhoffer commented on #206
I think that this one is a tough one. I originally was on the side of lowercasing "basic" because that's what we do in OpenShift. We also do have a "request header" authentication which is lowercase. The rest are uppercase (Keystone, GitHub, LDAP, etc.).

I agree that the hard part here is that "basic" sounds like it isn't something specific, but "request header" does sound like something specific

[2022-09-22 16:26] bergerhoffer commented on #225
@max-cx As far as I'm aware, deprecating a feature does not necessarily mean dropping support for it. So the template makes sense to me written as is it - we will still support the existing functionality if you run into issues and fix bugs, but we won't make any enhancements to it.

The actual removal of the feature or removal of support for the feature is when the support would be dropped complet

[2022-09-22 16:38] max-cx commented on #225
@bergerhoffer and @bburt-rh, thank you for your feedback.

Looking at it, I guess I'm contributing to an outlier project with aggressive development, where features get deprecated and removed more often compared to most products. I've reached out to our engineering and support leads to clarify the expectations regarding support, and we (tech writers) can modify the template to account for our spec

[2022-09-22 16:38] #225 closed

[2022-09-22 16:51] mnsteven commented on #224
I also agree with @bergerhoffer, but that may well be because this is the style I used in previous companies.  The issue for me is using literals as nouns, so I also would do the same thing for files (the `/etc/lvm.conf` file).

This just came up in my release notes, where many of my headings refer to a feature of the `pcs` command-line interface.  So I had consistently used a title like "The pcs

[2022-09-22 17:25] bergerhoffer commented on #224
So one thing I just thought of is that we had a similar issue opened a few months ago: #169. The IBM style guide (ISG) does provide some generic information on things like this (about specifying what the items is, "man page" in our case) after it.

We didn't end up adding any guidance to the SSG for this raised issue, because the ISG provided ample guidance, and we don't duplicate guidance. I'm wo

[2022-09-22 17:27] bredamc commented on #224
Here's my tuppenceworth:

**1. Re. include or exclude "man page"**
I think it depends on your target audience. Very technical readers would know that `sudoers(5)` is a reference to a man page, but I agree that we should standardise on including the text "man page", to cover all readers.

**2. Re. include or exclude "The"**
I'd treat references to man pages in the same way as any other guide. If yo

[2022-09-22 17:36] mmuehlfeldRH commented on #224
I vote for the shortest version (`sudoers(5)`).

In the Linux/UNIX world, this format (a word with a number in parentheses) is well known as a reference to a man page. I think that only users who are absolutely new to Linux might not know this. I would also assume that this group of readers is really a very, very, small one, and they can easily find out elsewhere that `sudoers(5)` means a man page

[2022-09-22 17:53] bergerhoffer commented on #224
I think @bredamc has a fair point about the "the" not being necessary. But I would rather err on the side of caution by still adding "man page" afterward, because `sudoers(5)` alone doesn't give the reader much to go on, especially if it's in the additional resources section and isn't a link. Though now that I think about it, I think the additional resources section (per the mod docs templates at

[2022-09-22 18:04] bburt-rh commented on #212
@bergerhoffer Left a couple of comments the gdoc. PTAL when you get a chance

[2022-09-22 18:27] bburt-rh commented on #224
I agree that @bredamc has a good argument for omitting the definite article.

I am also for including "man page" in the wording to stay consistent with the guidance about "command", "parameter", "option", etc in the ISG. One could argue, for instance, that experienced Linux/Unix users also do not need to be told that, say, `oc` is a command. But the ISG does say to specify "the `oc` command" anywa

[2022-09-22 18:30] bburt-rh commented on #171
@bergerhoffer Maybe put this on the next SSG agenda to see how best to find a SME to help us out?

[2022-09-22 18:32] bburt-rh commented on #147
@bredamc When you get a chance, could you please update the status of this issue?

[2022-09-22 18:43] bburt-rh commented on #206
@bergerhoffer Because we're in agreement, would the next steps be to post to the gchat channel and solicit further input? I'd like to know what others think before we move forward with developing official guidance.

Also, whatever the guidance is that we do define, does CCS have a policy or practice regarding updating existing docs that use a term in a different way than what the SSG newly specifi

[2022-09-22 18:54] mmuehlfeldRH commented on #224
In these examples, "Guide" is part of the name of these guides. It's not describing what it is.

Most [RHEL 8](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8) and 9 titles start with a verb. Would you append "guide" to titles, such as:
* [Performing a standard RHEL 8 installation](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_a_s

[2022-09-22 18:59] bergerhoffer commented on #212
@bburt-rh Thanks! I updated per your comments. @redhat-documentation/ccs-style-council Can I get a few more eyes on this plan? https://docs.google.com/document/d/1IL1dpMD6N0lBskOBpJo-j3ap6huMjyefnpMxexwN1co/edit

If a few people are good with it, then I can pick a day in the next week or two to make this switch. Thanks!

[2022-09-22 19:02] bergerhoffer commented on #206
@bburt-rh there was actually a discussion in the CCS style council chat around this. I say that it would be a good idea to either revive that thread with this new direction, or start a new thread to see if others are on board.

As for if we have a policy on updating existing docs, the answer is no. We make the guidance, and changes to guidance as necessary, and then communicate it out to CCS. It's

[2022-09-22 19:04] bergerhoffer commented on #224
@mmuehlfeldRH I'm not sure if we can make these comparisons here, because these are links. I might not care so much about the missing "man page" after "sudoers(5)" if it was an actual link that went somewhere / the name of a page that the link takes you to.

We're talking about something different here with sudoers(5), since it wouldn't be a link that takes the users to where they need to go. In t

[2022-09-22 22:12] daobrien commented on #171
Because this appears in all three style guides, it should probably be expanded to include reps from all those guides. Deciding on a "solution" for just this guide and not incorporating it into the other two is very likely to cause confusion. Thanks

[2022-09-23 05:27] Amrita42 commented on #220
I love the idea of adding Homograph as an entry.

[2022-09-23 09:00] JaroslavKlech commented on #224
I am kind of on the fence about this one. On one hand, I agree with @mmuehlfeldRH about `sudoers(5)` being a well-known term in the enterprise IT world (where our docs should be aiming at, and where vast majority of IT professionals know or should know this term).
On the other hand, @bburt-rh has a valid point about consistency with guidance about qualifying commands (the `yum` command), parameter

[2022-09-23 09:30] max-cx commented on #225
@bergerhoffer and @bburt-rh, FYI, just sharing here feedback from the support lead for our product in response to my question:

"

The usual definition [of deprecation]:
- When something is 'deprecated', that means do not use this feature, it is to be deleted at some point in the future.
- So long as the feature is still there (it is only deprecated, not yet removed), it should be allowed fixes fo

[2022-09-23 09:52] michelle-purcell commented on #206
@bburt-rh @bergerhoffer Thank you for looking into this and giving it airtime :100:

@bburt-rh To answer the above q: _What are you proposing as the standard?_

Our team consensus leans more towards **Basic authentication**. If the content is specifically talking about the technical aspects of the RFC for HTTP Basic authentication, then Basic authentication seems to be correct.

However, the lower

[2022-09-23 18:44] mjahoda commented on #224
+1 to https://github.com/redhat-documentation/supplementary-style-guide/issues/224#issuecomment-1255331992

[2022-09-23 18:45] kcarmichael08 opened #226 "Add guidance for "regular expression" (regex)"
There does not appear to be official guidance regarding use of the term "regular expression" (also known as "regex"), which is commonly used in searches, cron jobs, etc. Michael Peter found a mention in Google's Style Guide: https://developers.google.com/style/word-list#letter-r

Slack thread: https://coreos.slack.com/archives/C0227BTM07K/p1663694176718289

More info on regular expression: https:/

[2022-09-26 09:26] dfitzmau commented on #212
Thanks, Brian and Andrea.

Looks good to me!

On Thu, Sep 22, 2022 at 7:59 PM Andrea Hoffer ***@***.***>
wrote:

--

Darragh Fitzmaurice

Technical Writer 2

Red Hat EMEA <https://www.redhat.com/>

Communications House

Cork Road, Waterford, X91 NY33, Ireland

***@***.***
<https://www.redhat.com/>

[2022-09-26 12:44] jherrman commented on #208
@cfbryan I did a bit more testing, and it actually looks like the no-wrap config in the new stylesheets  works a bit *too* well.

To be specific, when you wrap a line that ends with **\** in adoc, local previews (and MR auto-previews) work fine, but the CP seems to render these lines as a single line.

**Example 1:**
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/bui

[2022-09-26 13:04] jherrman commented on #208
@cfbryan are you sure this is a good idea? The main reason we are having this discussion at all is that there were multiple reports that long commands formatted as a single line reduce readability and usability, and even though this is disputable, completely taking away the possibility of formatting a long command into multiple lines does not really help anything or anyone, as far as I can tell. S

[2022-09-26 14:12] bburt-rh commented on #212
The plan looks good to me, too, @bergerhoffer. I think it's safe to set a day to make the switch.

[2022-09-26 14:23] bburt-rh commented on #226
I agree that we need guidance for this. One possibility would be to add two entries to the glossary:

- `regex: Do not use. Instead use regular expression`
- `regular expression:` [definition of the phrase]

Or might it be better to say the `regex` is OK to use on second use, but first use should be `regular expression (regex)`

@redhat-documentation/ccs-style-council What do others think?

[2022-09-26 14:53] Amrita42 commented on #226
I like this option >> regular expression: [definition of the phrase]. Use instead of regex.  I see more usage of `regular expression` in https://docs.oracle.com/cd/B19306_01/B14251_01/adfns_regexp.htm#CHDDFAFA.

[2022-09-26 14:57] bergerhoffer commented on #226
I'm leaning toward saying not to use "regex". It might be fine, as long as you write out out it first. But it seems like more of a casual way to refer to it, and probably doesn't belong that way in product docs. So unless we have a good reason why it is appropriate in some cases, then I'd say we should follow suit with Google and say to not use it.

[2022-09-26 15:00] bergerhoffer commented on #220
@max-cx What do you think of @bburt-rh's proposal?

[2022-09-26 15:02] bergerhoffer commented on #225
@max-cx That about matches my expectation, except that users are still technically allowed to keep using the feature when it's deprecated - it's more that they should start trying to move away from it because it will be removed soon.

[2022-09-26 15:26] kcarmichael08 commented on #226
Yeah, I spelled it out and added the abbreviation in the edge case I had, but that's because `regex` was used in the bug description that I was writing about. Normally I would say, don't use.

[2022-09-26 15:46] ndeevy commented on #193
Thought I could get to this but am swamped :-< so I'm removing myself in case another helpful soul can.

[2022-09-26 16:47] bredamc commented on #147
@bburt-rh Apologies for the delay :(
I will work on this issue when the master branch has been renamed to main.

[2022-09-26 16:48] bredamc commented on #191
Apologies for the delay -- I will work on this issue when the master branch has been renamed to main.

[2022-09-26 16:50] cfbryan commented on #208
This type of question is always really hard to answer. At its heart, it's an ask to justify our existing choices, and using that framework, YES, I support the choices we've made in UX and FE implementation. There's a lot of thoughtwork that goes into our designs and planning, and they have been vetted, tested, and battle-hardened by CCS for a few months now.

We do iterate on decisions and choices

[2022-09-26 18:24] bburt-rh commented on #220
@max-cx I can submit a PR with my proposed change, unless you have objections.

[2022-09-27 07:09] Amrita42 commented on #226
Found this ref >> https://developers.redhat.com/articles/2022/09/14/beginners-guide-regular-expressions-grep?sc_cid=7013a000003899eAAA

[2022-09-27 08:59] dfitzmau commented on #226
If you type `man 7 regex` into your RHEL system's terminal, you'll access the Linux Programmer's Manual that describes regular expressions and the `regex` package. I agree with using "regular expression" for general discussion points and only use `regex` when referring to the package itself and so on.

[2022-09-27 12:20] max-cx commented on #220
@bburt-rh and @bergerhoffer, OK, thank you!

[2022-09-27 12:47] bburt-rh commented on #220
Thanks, @max-cx - I'll submit a PR and link it to this issue, which will close automatically when the PR merges.

[2022-09-27 12:50] bergerhoffer commented on #168
Updating to say that there is a cross-product findability effort that is working on an entry to the SSG for this :tada: Thank you to @bgaydosrh / Lorena / @IngridT1 !

[2022-09-27 13:20] jherrman commented on #208
@cfbryan I did a bit more digging, and it looks like codeblock lines with backslashes work as expected even on the CP (1) unless you wrap the entire command in a pair of asterisks to make it bold. Then, it works in asciidoctor and bccutil, but not in Pantheon/CP - so it might be a vagary introduced by the DocBook layer of Pantheon.

Either way, it can be worked around by using a pair of asterisks

[2022-09-27 13:22] cfbryan commented on #208
Thanks. I'll take a look. If you could add as a part of your directions that authors are responsible for checking the impact of their changes at all browser breakpoints, I would appreciate it.

[2022-09-27 15:10] wesruv commented on #208
Hello, I'm one of the CSS dorks that's styling the docs.

My hope is that codeblocks would have the same line breaks that are in the adoc source. I don't want to force wrap them, or try to come up with clever logic to reformat them. There's been a few times I was tempted to do something clever; for small screens, or the print stylesheet, or to address bugs caused by formatting. It always causes ot

[2022-09-27 15:34] jherrman commented on #208
@wesruv yep. looks like some inscrutable Pantheon arcana all right :-) Still, given that the workaround is known and is not too complicated, I don't think the tooling folks need to lose any sleep over this :-]

[2022-09-27 15:45] bergerhoffer commented on #212
Closing this issue - the branch rename is complete. Thanks again @rolfedh for reporting!

[2022-09-27 15:45] #212 closed

[2022-09-27 17:34] bergerhoffer commented on #226
@kcarmichael08 It sounds like we're pretty much in agreement to not use "regex" and instead use "regular expression".

Would you be willing to open a PR to add this, or would you like someone from the SSG to work on it?

I'd recommend two entries like Brian recommends above: a "regex" entry with "Use it: no" and a "regular expression" with "Use it: yes".

[2022-09-27 17:35] bergerhoffer commented on #147
@bredamc The branch rename is now complete, so you can feel free to resume this when you're ready. Thanks!

[2022-09-27 17:52] bergerhoffer commented on #173
@redhat-documentation/ccs-style-council Can we get a few people to help work on these updates for a handful of letters between G-Z?

[2022-09-27 18:04] kcarmichael08 commented on #226
I'll do it - good practice :)

[2022-09-27 18:33] bergerhoffer commented on #192
Fixed first batch of issues in PR #230.

[2022-09-27 18:39] bergerhoffer commented on #199
@redhat-documentation/documentation-conventions Any +1s or objections to removing the "through" entry? https://redhat-documentation.github.io/supplementary-style-guide/#through

[2022-09-28 12:24] bredamc commented on #191
PR: https://github.com/redhat-documentation/supplementary-style-guide/pull/231

[2022-09-29 14:09] bburt-rh commented on #220
@max-cx Please review https://github.com/redhat-documentation/supplementary-style-guide/pull/232 and provide feedback if you have any. Thanks!

[2022-09-29 14:48] Srivaralakshmi commented on #220
@bergerhoffer and @bburt-rh I do not agree to add an entry or a generic admonition to avoid the word "project". PTAL at my [comment in the same attached](https://github.com/openshift/openshift-docs/pull/49201#discussion_r966092250) PR.

[2022-09-29 14:59] bburt-rh commented on #220
@Srivaralakshmi I appreciate your concern and thank you for the feedback! My intention with this guidance is not to say that writers should avoid the word entirely, but rather the intent is to raise awareness that in certain situations using "project" (or other homographs) as both verb and noun in close proximity can potentially cause confusion. It's in these specific cases that writers should be

[2022-09-30 13:24] sbmetz commented on #224
Here's another thought (sorry I'm chiming in late) -- what do you think about an actual link, for example, [https://man7.org/linux/man-pages/man5/sudoers.5.html](https://man7.org/linux/man-pages/man5/sudoers.5.html)?

[2022-09-30 14:21] mmuehlfeldRH commented on #224
@sbmetz , I think it will be hard to maintain and only cause trouble.

You need to ensure that the HTML version of the man page you link is for RHEL. Not Fedora or any other distribution, because it can be different. Even if hosted on redhat.com and we are sure that it's for RHEL, we would need HTML versions of every man page for each RHEL version. RHEL guides are valid only for the latest minor v

[2022-10-03 11:42] max-cx opened #233 "Can https://redhat-documentation.github.io/asciidoc-markup-conventions/ be incorporated into the SSG?"
There are markup conventions in https://redhat-documentation.github.io/supplementary-style-guide/#formatting.

There are markup conventions in https://redhat-documentation.github.io/asciidoc-markup-conventions/.

Can all these conventions somehow reside in one place?

[2022-10-03 14:03] bburt-rh commented on #233
Thanks for bringing this up, @max-cx. My own view is not that they should be in one place but that the SSG should be "platform agnostic" and NOT contain coding guidance for a specific markup language -- i.e., that coding guidance should be maintained separately. My thinking is that that SSG guidance should not be married to a specific markup language because RH or specific docs projects within RH

[2022-10-03 15:13] bergerhoffer commented on #233
Yeah the general consensus at the creation of the SSG is that we did want to try to be markup-agnostic and not get into specifics of whether you should do it this way in AsciiDoc or that way in AsciiDoc.

That being said, AsciiDoc is what we use, and we did see the value in providing some examples where it would be helpful. If we were to change to another language, it wouldn't be hard to update th

[2022-10-03 15:44] bburt-rh commented on #233
@bergerhoffer Thank you for that detailed and nuanced reply. I understand the reasoning, and it makes sense to me.

What it comes down to in the end for me is that the priority should always be to make the guides as useful as possible for our audience, and the way you describe the intent of the guide seems to give us some flexibility in this regard to include markup-related content when we think i

[2022-10-03 17:02] bburt-rh commented on #226
Thanks @kcarmichael08! When you create the PR, can you please link it to this issue? That way, when the PR is merged, GH will automatically close this issue. Thanks again!

[2022-10-03 23:03] leswilliams44 commented on #216
Thanks, @bergerhoffer.l I will try to get to it this week.

[2022-10-03 23:59] leswilliams44 commented on #216
I will also add a glossary entry for the term.

[2022-10-05 18:17] mjahoda opened #235 "Suggestions for Commands requiring root privileges"
https://redhat-documentation.github.io/supplementary-style-guide/#commands-with-root-privileges

Being more specific would be helpful. Do you recommend to include this information as a prerequisite or in the first step?

Run scripts, enter or use commands. Not a good role model in a style guide.